{% extends 'NextSteps/NextSteps_base_vj.html' %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override first block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}

<!-- Override features block -->
{% block features %}
    <div class="block" style="padding-top: 5%; padding-bottom: 5%; ">
        <div class="container">

            <div class = "row">
                <div id = "breadcrumb">
                    {% block breadcrumbs %}
                        {% breadcrumb "Home" "index" %}
                        {% breadcrumb "Login" "login" %}
                    {% endblock %}        
                </div>
            </div>
                
            <h3 class="block-title" style = "margin-bottom:15px;">Social Network  Login Failure</h3>
            <br />

            <blockquote>
                <p class = "big">
                    An error occurred while attempting to login via your social network account
                </p>
            </blockquote>  
            <p>Code: {{ auth_error.code }}, Error: {{ auth_error.exception }}
        </div>
    </div>

{% endblock features %}

{% block registration %}
<!-- Nothing here, just override the block from parent -->
{% endblock registration %}

<!-- Footer-section remains as it is, no override -->

