
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->


<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}
{% load static %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

		<!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">
	

        <div class="responsive-calendar" id = "calendar">
            <div class="controls">
                <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
                <h4><span data-head-year></span> <span data-head-month></span></h4>
                <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
            </div><hr/>
            <div class="day-headers">
                  <div class="day header">Mon</div>
                  <div class="day header">Tue</div>
                  <div class="day header">Wed</div>
                  <div class="day header">Thu</div>
                  <div class="day header">Fri</div>
                  <div class="day header">Sat</div>
                  <div class="day header">Sun</div>
            </div>
            <div class="days" data-group="days">
              
            </div>
            
            <div>
                <button class = "btn" onclick = "clearall()">Clear all</button>
                <button class = "btn" onclick = "addeve()">Add</button>
                <button class = "btn" onclick = "addeve1()">Add+1</button>
            </div>
        </div>




        </div>
     </div>

<!--    <script src="{% static 'responsive-calendar/jquery.js' %}"></script>
    <script src="{% static 'responsive-calendar/responsive-calendar.js' %}"></script>
    <script type="text/javascript"> </script>
-->    
<!--    <script src="{% static 'responsive-calendar/jquery.js' %}"></script> -->
    <script src="{% static 'responsive-calendar/responsive-calendar.js' %}"></script>
    <script type="text/javascript"> </script>

    
    <script>
    function clearall() {
        alert("In clearall()");
        $('#calendar').responsiveCalendar('clearAll');
    }
    </script>

    <script>
        $( document ).ready( function() {
            console.log("Jq ver(Calendar): " + $().jquery);
        
            $('.responsive-calendar').responsiveCalendar({
              onDayClick: function(events) { alert('Day was clicked'); }
            });
    });
    </script>


    <script>
        $( document ).ready( function() {
            $('.responsive-calendar').responsiveCalendar();
        });
    </script>
    
    <script>
    function addeve(){
        alert("In addeve()");

        $('#calendar').responsiveCalendar('edit', {
            "2018-02-15": {"number": 5, "badgeClass": "badge-warning", "url": "https://www.NextSteps.co.in"},
            "2018-02-26": {"number": 1, "badgeClass": "badge-warning", "url": "https://www.NextSteps.co.in"}, 
            "2018-02-01": {"number": 1, "badgeClass": "badge-error"}, 
            "2018-02-12": {}
        });    
    }
    </script>    
    
    <script>
    function addeve1(){
        alert("In addeve()");

        $('#calendar').responsiveCalendar('edit', {
            "2018-02-15": {"number": 1, "badgeClass": "badge-warning", "url": "https://www.NextSteps.co.in"},
        });    
    }
    </script> 


{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

