
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}
{% load static %}

   

<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

		<!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">
                Calendar of Important Dates
            </h3>
        
            <button class="btn" onclick = "removeEve()">Remove Event</button>
            <button id = "getD" class="btn">Add Events</button>
            <button class="printBtn hidden-print">Print</button>

            <div id = "noEvents" class="text-primary">
            </div>


            <div id='calendar'></div>
    
        </div>
        
        <div id = "insttUserDiv">
        </div>
        
     </div>


<!-- for FULL CALENDAR --> 
<!--    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script> -->
    <script>
    
        $(document).ready(function() {

        var today = new Date().toISOString().slice(0, 10);

        $('#calendar').fullCalendar({
        

            themeSystem:'bootstrap3', 
            selectable : true,
            editable:true,
            defaultDate: today,
        
            select: function (startTime, endTime, allDay) {
                //do something when space selected
                //Show 'add event' modal
                $('#createEventModal').modal('show');
        
                $('#submitButton').on('click',function(){
                    var mockEvent = {title: 'myNewEvent!', start:startTime, end:endTime};
                    $('#calendar').fullCalendar('renderEvent', mockEvent);
                    $('#submitButton').unbind('click');
                    $('#createEventModal').modal('hide');
                });
            },
            
            eventClick: function(calEvent, jsEvent, view) {
        
                //alert('Event: ' + calEvent.title);
                //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                //alert('View: ' + view.name);
        
                // change the border color just for fun
                $(this).css('border-color', 'red');
        
            },        
        
        
            dayClick: function() {
                //alert('a day has been clicked!');
            },        
            
            header: {
                left: 'today',
                center: 'prevYear, prev, title, next, nextYear',
                right: 'month,agendaWeek,agendaDay'
            },
            
            });
            
        getInsttsDetails();
        });
        
        
    
    </script>    

    <script>
        $(window).load(function()
        {
            getEvents();
        });
    </script>
    


    <script>
    function removeEve(){
        //alert("Removing...");
        $('#calendar').fullCalendar( 'removeEvents', 1 );
    }
    </script>
 
    
    <script>
        function getEvents(){ 
        
            var events = $('#calendar').fullCalendar('clientEvents');
            if (events.length == 0 ){
                $("#noEvents").html("No events found or you have not set the preferences."); 
            }
        }
            
    </script>    

    <script>
        $('.printBtn').on('click', function (){
            window.print();
        });
    </script>    
    
    <script>
        function getInsttsDetails(){
        
            var insttDates = {};
            $.ajax({url: '{% url "get_user_instts" %}', data: {}, dataType: 'json',
                success: function (data) {
                    insttDates = data;
                    $.each(data, function(index, element) {
                        var eve={title: 'New event', start: "2018-01-01"};
                        eve.id= data[index].id
                        eve.title = data[index].Institute__abbreviation + "-" + data[index].event;
                        eve.start = data[index].event_date;
                        eve.end= data[index].end_date;
                        $('#calendar').fullCalendar( 'renderEvent', eve, true);
                    });
                }
            });       
            return insttDates;                     
        }
    </script>
    
    <script>
    $("#getD").click(function(){
        $.getJSON("{% url 'get_user_instts' %}", function(result){
            $.each(result, function(i, field){
                var eve={title: 'New event', start: "2018-01-01"};
                eve.id= result[i].id
                eve.title = result[i].Institute__abbreviation + "-" + result[i].event;
                eve.start = result[i].event_date;
                eve.end= result[i].end_date;
                $('#calendar').fullCalendar( 'renderEvent', eve, true);
            });
        });
    })    
    
    </script>

{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

