
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}

{% load static %}
<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">
    
            <h3 class="block-title">Entrance Exams</h3>

            <div class="near_by_hotel_wrapper">
                <div class="near_by_hotel_container">
                
                    <div class="col-sm-6">
                        Exam Level<input type="text" id="myInput" style="background-image: url('{% static 'img/searchicon.png' %} ');" onkeyup="myFunction()" placeholder="Enter exam level..">   
                    </div>
                    <div class="col-sm-6">
                        State<input type="text" id="myInput1" style="background-image: url('{% static 'img/searchicon.png' %} ');" onkeyup="myFunction()" placeholder="Enter the State..">   
                    </div>
                    <small>Exam level can be State level, National level, University or College level</small>
                    
                   <table id="tableOne" class="table table-responsive no-border custom_table dataTable no-footer dtr-inline">
                        <thead>
                            <tr>
                                <th style="width:20%">Entrance Exam</th>
                                <th style="width:40%">Description</th>
                                <th style="width:15%">Exam Level</th>
                                <th style="width:20%">State Applies to</th>
                            </tr>
                        </thead>
                        <tbody>            
                            {% for i in examList %}      
                                <tr>       
                                    <td class="align-middle text-primary" > {{ i.entrance_exam_code}}</td>
                                    <td class="align-middle" > {{ i.description}}</td>
                                    <td class="align-middle" > {{ i.exam_level }}</td>
                                    <td class="align-middle" > {{i.state }}</td>
                                </tr>
                            {% empty %}
                                <p>No Entrance Exams found.</p>
                            {% endfor %}
                        </tbody>
                    </table>                   
                </div>
                
            </div>    
        
        </div>
    </div>


<script>
    function myFunction() {
      // Declare variables 
      var input, input1, filter, filter1, table, tr, td, i;
      input = document.getElementById("myInput");
      input1 = document.getElementById("myInput1");
      filter = input.value.toUpperCase();
      filter1 = input1.value.toUpperCase();
      table = document.getElementById("tableOne");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        td1 = tr[i].getElementsByTagName("td")[3];
        if ((td) || (td1)) {
          if ((td.innerHTML.toUpperCase().indexOf(filter) > -1) && (td1.innerHTML.toUpperCase().indexOf(filter1) > -1)){
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    }

</script>


{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->








