
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps_base_vj.html' %}

{% load static %}

{% load django_bootstrap_breadcrumbs %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override first block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}

<!-- Override features block -->
{% block features %}
    <div class="block" style="padding-top: 5%;">
        <div class="container">

            <div class = "row">
                <div id = "breadcrumb">
                    {% block breadcrumbs %}
                        {% breadcrumb "Home" "index" %}
                    {% endblock %}        
                </div>
            </div>
        
            <h3 class="block-title" style = "margin-bottom:15px;">Set Your Preferred Institutes and Programs</h3>
            <br />

            <blockquote><p>The "Set Preferences" feature is available to the subscribed users.<br />
                {% if regUser %}
                    You have signed up and we recommend that you 
                    <a href="{% url 'payment' %}"  class="text-primary"> Subscribe</a> now and get access to the powerful 
                    NextSteps features that give you access to useful tools, customizes to you, and saves your valuable time & effort.
                {% else %}
                    NextSteps has powerful fearures that give you access to useful tools, customizes to you and saves a lot of time & effort.
                    To get these benefits we recommed that you <a href="{% url 'signup' %}"  class="text-primary"> Sign Up </a>, 
                    Subscribe and get started!.
                {% endif %}</p>
            </blockquote>                 


            <n_note>
                <h4> This feature lets you set your  Intitutes and Programs preferences</h4>
            </n_note>
            
            <div class = "right-pane">
                <div class = "block-feature">Search from a list of programs that you are interested in and then select the 
                    institutes that interest you. Save your preferences.
                    Having done this, you can use following customized features that focus on your preferences.
                </div>
                
                <div style = "margin-left:25px"> 
                    <p>
                        <img class="img-circle" src="{% static 'img/important.png' %}" align = "left" alt="Imp Info" width="32" height="32">
                        &nbsp;&nbsp;&nbsp;<strong>Important Info on my preferred insitutes</strong>
                    </p>
                    Get customized report of the important information on your preferred institutes and programs. which will be a 
                    handy reference for you as you assess your options in various insitutes. This feature gives you a report in 
                    PDF format that you can save on your computer and print out. 
                    <a href="{% url 'feature_important_info' %}" class="text-primary">Click here for details...</a><br /><br />

                    <p>
                        <img class="img-circle" src="{% static 'img/calendar.png' %}" align = "left" alt="Calendar" width="32" height="32">
                        &nbsp;&nbsp;&nbsp;<strong>Never miss important entrance exam or admission process dates</strong>
                    </p>
                        As you prepare to apply to preferred institutes that you are 
                        interested in, the Calendar informs you of all the important dates and actions you needs to take for those
                        institute admissions. With this feature you can also create your own actions. This will ensure that, 
                        while you are neck-deep into your studies, you never miss an important date. 
                        As you can imagine and would probably have heard of stories that lot of students miss out on great opportunities
                        as they miss an important date or were not aware of.
                        <a href="{% url 'feature_calendar' %}" class="text-primary"> Click here for details...</a><br /><br />


                    <p>
                        <img class="img-circle" src="{% static 'img/chance.png' %}" align = "left" alt="JEE Seat Chances" width="32" height="32">
                        &nbsp;&nbsp;&nbsp;<strong>My chances of a seat through JEE</strong>
                    </p>
                        This very useful tool can help you with "if-then-analysis". Estimate the rank you are likely to get in JEE Main or 
                        Advanced and this tool can help you assess the chances of where you are likely to get a seat. You can choose 
                        the institutes and programs that interest you and play out various scenarios based on estimated rank range. And of course
                        this tool will allow to play those scenarios for your preferences.
                        <a href="{% url 'feature_seat_chances' %}" class="text-primary">Click here for details...</a><br /><br />

                </div>

                <div style = "display:none">
                    <p>
                        <img class="img-circle" src="{% static 'img/save.png' %}" align = "left" alt="Application Detail" width="32" height="32">
                        &nbsp;&nbsp;&nbsp;<strong>Record the details you need for institute applications - Saves TIme and Effort</strong>
                    </p>   
                        During the crunch time of applying to various institute you often need acess to the same kind of information and 
                        end up searching and referring to various papers, place places that you keep the information. With this feature
                        you save all the information in one and refer to it while making applications to various institutes.
                        <a href="{% url 'if_then_analysis' %}" class="text-primary"> Click here for details...</a>.<br /><br />

                    <p>
                        <img class="img-circle" src="{% static 'img/calendar.png' %}" align = "left" alt="Study Planner" width="32" height="32">
                        &nbsp;&nbsp;&nbsp;<strong>Study Planner - Plan and track your study Hours, Get a Dashboard</strong>
                    </p>   
                        This is another very powerful feature NextSteps offers you. You get a very informative graphical dashboard of you
                        study plan and progress,
                        You can plan your overall study hours, split those by subjects, plan your typical study day and then create 
                        a schedule calendar. It also lets you log your actual study hour.
                        <a href="{% url 'study_planner' active_tab='dashboard'%}" class="text-primary"> Click here for details...</a>.<br /><br />
                </div>
                
                
            </div>
        </div>
    </div>
                
{% endblock features %}

{% block registration %}
<!-- Nothing here, just override the block from parent -->
{% endblock registration %}

<!-- Footer-section remains as it is, no override -->








