{% extends 'NextSteps/NextSteps_base_vj.html' %}

{% load static %}

<!-- Override right-side header block from parent -->
{% block right_side_header %}
{% endblock right_side_header %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}


<!-- Override features block -->
{% block features %}
	
    <div class="block" style="padding-top: 5%; padding-bottom: 5%; ">
        <div class="container">
		
			<h3 class="block-title">Programs, Institutes by Prorgam Group</h3>
			
			<div id = "tab_id">
				<table id="tableOne" class="display table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th >Program Group</th>
							<th >Program Name</th>
							<th >Institute</th>
						</tr>
					</thead>
					<tbody>        
							{% for i in progs %}
							<tr>  
								<td class="align-middle" > {{ i.Program__program_group}}</td>
								<td class="align-middle" > {{ i.Program_id}}</td>
								<td class="align-middle" > {{ i.Institute__instt_name}}</td>
							</tr>
							{% empty %}
							<tr>  
								<td colspan = "5">- No results found</td>
							</tr>
							{% endfor %}
					</tbody>
				</table>
<!--				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class = "text-center">
							{% if progs.has_previous %}
								<a class="btn btn-sm btn-primary" href="?page=1">&laquo; First</a>
								<a class="btn btn-sm btn-primary"  href="?page={{ progs.previous_page_number }}">Prev</a>
							{% else %}
								<a class="btn btn-sm btn btn-secondary disabled" href="#">&laquo; First</a>
								<a class="btn btn-sm btn btn-secondary disabled"  href="#">Prev</a>
							{% endif %}
							Showing Page {{ progs.number }} of {{ progs.paginator.num_pages }}
							{% if progs.has_next %}
								<a class="btn btn-sm btn-primary" href="?page={{ progs.next_page_number }}">Next</a>
								<a class="btn btn-sm btn-primary" href="?page={{ progs.paginator.num_pages }}">Last &raquo;</a>
							{% else %}
								<a class="btn btn-sm btn-secondary disabled" href="#">Next</a>
								<a class="btn btn-sm btn-secondary disabled" href="#">Last &raquo;</a>
							{% endif %}				
						</div>
					</div>
				</div> -->
			
			</div>
		</div>		
	</div>
	


<script>    
	$(document).ready(function() {
	   // Setup - add a text input to each footer cell
		$('#tableOne thead th').each( function (i) {
		   var title = $('#tableOne thead th').eq( $(this).index() ).text();
			$(this).html( '<input type="text" placeholder="Search '+title+'" data-index="'+i+'" />' );
		} );
	  
		// DataTable
		table = $('#tableOne').DataTable( {
			fixedHeader: true,
			paging: true,
			responsive: true,
			searchOnEnterKey: true,
		} );
	 
		table.columns.adjust().draw();
		
		// Filter event handler
		$( table.table().container() ).on( 'keyup', 'thead input', function () {
			table
				.column( $(this).data('index') )
				.search( this.value )
				.draw();
		} );
		console.log("End script");
	} );

</script>

{% endblock features %}

{% block registration %}
{% endblock registration %}