
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps_base_vj.html' %}
{% load static %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}



<!-- Override features block -->
{% block features %}
     <!--<div class="showcase block block-border-bottom-grey"> -->
    <div class="block" style="padding-top: 5%;">
        <div class="container">

            <h3 class="block-title">
                Seat Assessment Analysis Results
            </h3>
            <div class = "row">
                <!-- <div class="w3-container w3-text-deep-orange"> -->
                <div class="w3-container pref-head" style = "margin:5px 15px">
                    <h5>Your selections were</h5>
                </div>
            </div>    
            
<!--            <table id="tableOne" class="table table-responsive no-border custom_table dataTable no-footer dtr-inline">-->
            <table id="tableone" class="display table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:30%">Rank Range</th>
                        <th style="width:40%">Programs</th>
                        <th style="width:30%">Institutes</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>           
                            {{ rankFrom }}&nbsp;-&nbsp;{{ rankTo }}<br />
                            ({{rankType}})
                            {% if rankType == "MAIN" %}
                                <br />Home State: &nbsp;{{homestate}}            
                            {% endif %}
                        </td>
                        <td>
                            {% for p in progs %} 
                                <i class="fa fa-caret-right"></i>&nbsp;{{ p }}<br />
                            {% empty %}
                                None
                            {% endfor %}
                        </td>
                        <td>
                            {% for i in instts %} 
                                <i class="fa fa-caret-right"></i>&nbsp;{{ i }}<br />
                            {% empty %}
                                None
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>            

            <br />
            <div class = "row">
                <!-- <div class="w3-container w3-text-deep-orange"> -->
                <div class="w3-container pref-head"  style = "margin:5px 15px">
                    <h5>Based on above selections following table displays the seat probabilitites for you</h5>
                </div>
                <br />
            </div>

<!--            <table id="tabletwo" class="table table-responsive no-border custom_table dataTable no-footer dtr-inline"> -->
            <table id="tabletwo" class="display table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width:35%">Program</th>
                        <th style="width:35%">Institute</th>
                        <th style="width:5%">Year</th>
                        <th style="width:10%">Opening Rank</th>
                        <th style="width:10%">Closing Rank</th>
                        <th style="width:5%">Quota</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        {% for r in resultSet %}
                            <td>
                                {{ r.Program_id }}
                            </td>
                            <td>
                                {{ r.Institute__instt_name }}
                            </td>
                            <td>
                                {{ r.year }}
                            </td>
                            <td>
                                {{ r.opening_rank}}
                            </td>
                            <td>
                                {{ r.closing_rank }}
                            </td>
                             <td>
                                {{ r.quota }}
                            </td>
                   </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% if resultCnt > 0 %}
                <div class="w3-container w3-text-deep-orange">
                    <small><p class="text-primary">*Disclaimer: Please note that this is purely based on pervious years opening and closing ranks
                    of the Institutes and by no means exactly depicts your chances. The closing ranks can vary significantly year on year. 
                    However, it would sure assist you as you assess your chances.</p></small>
                </div>
            {% endif %}

        </div>
     </div>



    <script>
    $(document).ready(function() {
      
        table2 = $('#tabletwo').DataTable( {
        retrieve: true,
        paging: true,
        //dom: 'lBfrtip',
        dom: '<"top"f>Brt<"bottom"ilp><"clear">',
        buttons: [
           'copy', 
            {
                extend: 'excel',
                messageTop: 'Seat Chances Assessment',
                title : "NextSteps"
            },
            
            {
                extend: 'pdf',
                messageTop: 'Seat Chances Assessment',
                title : "NextSteps"
            },
            {
                extend: 'print',
                messageTop: 'Seat Chances Assessment',
                title : "NextSteps"            }
        ]
        } );

        table1 = $('#tableone').DataTable( {
        retrieve: true,
        searching: false,
        ordering: false,
        info:     false,
        select: {
            style: 'multi'
        },
        paging: false,
        } );
    } );    
    </script>



{% endblock features %}

{% block registration %}
{% endblock registration %}
<!-- Footer-section remains as it is, no override -->

