<!-- Extend the logged in user home page to keep the same styling for header and footer sections. -->

{% extends 'NextSteps/NextSteps_base_vj.html' %}
{% load widget_tweaks %}
{% load trim %}
{% load to_underscore %}
<!-- Override slide-show block from parent -->
{% block slide-show %} 
{% endblock slide-show %}

<!-- Override news-ad block from parent -->
{% block news-ad %} 
{% endblock news-ad %} 

{% block instt-prog-menu %} 
{% endblock instt-prog-menu %} 

{% block registration%} 
{% endblock registration %}
<!-- Override features block -->
{% block features %}
<div class="showcase block block-border-bottom-grey">
    <div id="sticky">
        <form id="compareform" action="{% url 'compare_instts' %}" method="post">
            {% csrf_token %}
            <a href="#" id="comparelink">Compare</a>
            <select hidden id = "selectedInsttCodes" name="selectedInsttCodes" multiple size=4></select>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-top: 60px; padding-right: 0 !important">
                <button id="filter-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false"
                    aria-controls="navbar" style="width: 325px;background-color: white;">
                    <span class="glyphicon glyphicon-filter"></span>Filter By
                </button>
                
                <div class="box navbar-collapse collapse" id="search">
                    <div class="box-header with-border filter-by-text" style="font-size: 13px;font-weight: 600;color: #e34619;">
                        Filter By
                    </div>

                    <section class="search-container">
                        <div class="sub-container" id="compare-list">
                            <h4 data-toggle="collapse" data-target="#compareInst">
                                <span>Institutes To Compare</span>
                            </h4>
                                                        
                            <div class="collapse in sub-container-w" id="#compareInst">
                                <ul class="list vns-scroll" id="compare-inst-ul">
                                </ul>
                                <div>
                                    <span id="compare-clear" class="inst-filter-clear-text" onclick="clearFilter('compare')">< Clear</span>
                                </div>
                            </div>
                        </div>

                        <div class="sub-container ">
                            <h4 data-toggle="collapse" data-target="#State">
                                <span>State</span>
                            </h4>
                                                        
                            <div class="collapse in sub-container-w" id="State">
                                <div>
                                    <i class="fa fa-search" aria-hidden="true" style="position: absolute;color: #d4d4d4;margin-top: 10px;margin-left: 15px;"></i>
                                    <!-- inputE, ulE, liE, labelE -->
                                    <input type="text" class="search-box" placeholder="Search State" id="stateInput" onkeyup="filterValues('stateInput','stateUl','stateLi','stateLabel')">
                                </div>
                                <ul class="list vns-scroll" id="stateUl">
                                    {% if geostates %} 
                                        <!-- <form method="post" action="{% url 'instt_list' %}">
                                            {% csrf_token %} -->
                                                {% for s in geostates %}
                                                    <li class="checkbox" id="stateLi">
                                                        <input type="checkbox" id="{{s.state|trim|to_underscore}}" value="{{s.state}}" onclick="checkBoxAction(this,'{{s.state}}','state')">
                                                        <label class="search-value" id="stateLabel">{{s.state}}</label>
                                                    </li>
                                                {% endfor %} 
                                        <!-- </form> -->
                                    {% endif %}
                                </ul>

                                <div>
                                    <span id="state-clear" class="inst-filter-clear-text" onclick="clearFilter('state')">< Clear</span>
                                </div>
                            </div>
                        </div>
                        <div class="sub-container ">
                            <h4 data-toggle="collapse" data-target="#city">City</h4>
                        
                            <div class="collapse in sub-container-w" id="city">
                                <div>
                                    <i class="fa fa-search" aria-hidden="true" style="position: absolute;color: #d4d4d4;margin-top: 10px;margin-left: 15px;"></i>
                                    <input type="text" class="search-box" placeholder="Search City" id="cityInput" onkeyup="filterValues('cityInput','cityUl','cityLi','cityLabel')">
                                </div>

                                <ul class="list vns-scroll" id="cityUl">
                                    {% if geocities %} 
                                        {% for c in geocities %}
                                            <li class="checkbox" id="cityLi">
                                                <input type="checkbox" id="{{c.city|trim|to_underscore}}" value="{{c.city}}" onclick="checkBoxAction(this,'{{c.city}}','city')" >
                                                <label class="search-value" id="cityLabel">{{c.city}}</label>
                                            </li>
                                        {% endfor %} 
                                    {% endif %}
                                </ul>
                                <div>
                                    <span id="city-clear" class="inst-filter-clear-text" onclick="clearFilter('city')">< Clear</span>
                                </div>                                
                            </div>
                        </div>
                        <div class="sub-container ">
                            <h4 data-toggle="collapse" data-target="#instType">Institute Type</h4>
                        
                            <div class="collapse in sub-container-w" id="instType">
                                <ul class="list" id="ns-scroll">
                                    {% if instTypes %} 
                                        {% for i in instTypes %}
                                            <li class="checkbox">
                                                <input type="checkbox" id="{{i.description|trim|to_underscore}}" value="{{i.description}}" onclick="checkBoxAction(this,'{{i.description}}','type')">
                                                <label class="search-value">{{i.description}}</label>
                                            </li>
                                        {% endfor %} 
                                    {% endif %}
                                </ul>
                                <div>
                                    <span id="type-clear" class="inst-filter-clear-text" onclick="clearFilter('type')">< Clear</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
            </div>

            <div class="col-md-10">        
                <div class="box search-list">
                    <div class="box-body">
                        <table id="insttTbl" class="table custom-tbl" data-toggle="table"  data-show-export="false" data-minimum-count-columns="2"
                            data-pagination="true" data-id-field="instt" data-page-list="[10, 25, 50, 100]" data-show-footer="false" 
                            data-classes="table table-no-bordered" data-height="auto" >
                            <thead>
                                <tr class="adj-def">
                                    <!-- <th><input name="select_all" value="1" type="checkbox" style="display: none;"></th> -->
                                    <th style="width:100%" data-field="state"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <h3 class="block-title">Institutes</h3>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--</div> end user-home div -->
        <p class="text-primary">
            <small>* The Institue rank is displayed as published by NIRF.</small>
        </p>
    </div>
</div>

{% block javascript %}
<script>
    
    //Globals
    var myCriteria;
    var insttcode = [];
    var states = []
    var cities = []
    var types = []
    var table;
    var processed = false;
    var institutes = []

    if (sessionStorage.cities) {
        myCriteria = {
            'stateList' : states,
            'cityList' : sessionStorage.cities.split(","),
            'insttTypeList'  : types
        }

        var stateCities = (("{{statecity | safe}}"))
        stateCities = stateCities.replace(/'/g, '"')
        stateCities = JSON.parse(stateCities)

        cities = sessionStorage.cities.split(",");
        var vCities = (("{{geocities | safe}}"))
        vCities = vCities.replace(/'/g, '"')
        vCities = JSON.parse(vCities)

        ssCities = sessionStorage.cities.split(",");
        ssCities.forEach(ssCity => {
            cityIndex = _.findIndex(vCities, function(o) { return o.city == ssCity; });
            if (cityIndex > -1 ){
                $("#"+ssCity.trim().replace(" ","_")).prop("checked", true);
            }

            stateIndex = _.findIndex(stateCities, function(o) { return o.city == ssCity; });
            if (stateIndex > -1 ){
                states.push(stateCities[stateIndex].state)
                $("#"+stateCities[stateIndex].state.trim().replace(" ","_")).prop("checked", true);
            }
        });
    }
        
    $(document).ready(function () {

        //Vijay: Compare Institutes Submit Action associated with sticky
        $('#comparelink').click(function(e){
            $("#compareform").submit();
        })

        $('#insttTbl').DataTable({
            "responsive": true,
            "drawCallback": function( settings ) {
                processSessionStore()
            },
            "processing": true,
            "serverSide": true,
            "dom" : "<'row'<'col-sm-6'f><'col-sm-6'l>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            "deferRender" : true,
            "paging"    : true,
            "pagingType": "full",
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "Search...",
                 "paginate": {
                    "first": '<i class="fa fa-fw fa-step-backward">',
                    "next": '<i class="fa fa-fw fa-long-arrow-right">',
                    "previous": '<i class="fa fa-fw fa-long-arrow-left">',
                    "last": '<i class="fa fa-fw fa-step-forward">'
                },
                "zeroRecords": "No Institutue(s) found that you wanted",
                "lengthMenu": "_MENU_ Institues per page",
            },
            "search" : {
                "search" : sessionStorage.freeText
            },
            "ajax": {
                "url": '{% url "InstitueListUnRegistered" %}',
                "data": function(d) {
                    if (!d.search.value) {
                        sessionStorage.freeText = ""
                    } else if (d.search.value) {
                        sessionStorage.freeText = d.search.value
                    } else if (sessionStorage.freeText) {
                        d.search.value = sessionStorage.freeText
                    }
                    d.criteria = JSON.stringify(myCriteria);
                },
                "dataSrc": function (json) {
                    return json.aaData
                }
            },
            "columns": [
                {"data": "state"},
            ],
            "createdRow": function ( row, data, index ) {

                var addressString = data.address_1;
                var rank;
                var geoString = data.city + ', ' + data.state + ' - ' + data.pin_code;

                if ((data.address_2.trim())  && (data.address_3.trim()))
                    addressString = addressString + ', ' + data.address_2 + ', ' + data.address_3

                if ((data.address_2.trim())  && (!data.address_3.trim()))
                    addressString = addressString + "," + data.address_2

                if ((!data.address_2.trim())  && (data.address_3.trim()))
                    addressString = addressString + ', ' + data.address_3
                
                if (!data.rank) 
                    rank = 'NA'
                else
                    rank = data.rank

                $(row)
                    .html('<td id="instt" name="instt">'+
                                '<div class="row crow box-body" style="background-color: #f7f7f7;">' +
                                    '<div class="col-md-6">' +
                                        '<form id=' + data.instt_code + ' action={% url "instt_all_details" %}' +' method="post">' +
                                            '<input type="hidden" name="csrfmiddlewaretoken" value=' + getCookie("csrftoken") +'>' +
                                            '<div>' +                                                
                                                '<a href="javascript:;" onclick="document.getElementById('+data.instt_code + ').submit();"> <p> ' + data.instt_name + '</p></a>'+
                                            '</div>' +
                                            '<select hidden name="instt_code">' +
                                                '<option value=' + data.instt_code + ' selected>' + data.instt_code + '</option>' +
                                            '</select>' +
                                        '</form>' +
                                        '<div class="inst-state-p inst-address">' +
                                            '<span>' + addressString + '</span>' +
                                        '</div>' +
                                        '<div class="inst-address">' +
                                            '<p>' + geoString + '</p>' +
                                        '</div>' +
                                        '<div class="inst-address">' +
                                            '<div>' +
                                                '<i class="fa fa-fw fa-phone-square"></i>' + data.phone_number +
                                            '</div> ' +
                                            '<div> ' +
                                                '<i class="fa fa-fw fa-envelope"></i>' + data.email_id +
                                            '</div>' +
                                            '<div>' +
                                                '<i class="fa fa-fw fa-globe"></i>' +
                                                '<a href=' + data.website + ' target="_blank"> ' + data.website + '</a>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-4">' +
                                        '<div class="row col-md-12 instt-col-2-div">' +
                                            '<span>' + 
                                                'Institution Type : ' + data.InstituteType__description +
                                            '</span>' +
                                        '</div>' +
                                        '<div class="row col-md-12 instt-col-2-div">' +
                                            '<span>Rank :' + 
                                                // '<span class="label label-primary"> NA </span>' +
                                                '<span class="label label-primary"> ' + rank + ' </span> ' +
                                            '</span>' +
                                        '</div>' +
                                        '<div class="row col-md-12 instt-col-2-div">' +
                                            '<div class="col-md-6" style="padding-left: 0 !important;">' +
                                                '<span>Programs</span>' +
                                            '</div> ' +
                                            '<div class="col-md-6" style="padding-left: 0 !important;">' +
                                                '<span>Reviews</span>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="col-md-2">' +
                                        '{% if user.is_authenticated %}' +

                                                '<div class="checkbox" >' +
                                                    '<label>' +
                                                        '<input type="checkbox"' + 'value="' +data.instt_name + '" style="margin-left:-20px !important;margin-top: 5px !important" id="compare'+data.instt_code+'" name="compare" onclick="checkAll(this, ' +  data.instt_code + ')">' +
                                                        ' Compare ' +
                                                    '</label>' +
                                                    '<p style="visibility:hidden"  name="instt_code">' + data.instt_code + '</p>' +
                                                '</div>' +
                                                '<div style="margin-top: -10px">' +
                                                    '<button type="submit" class="btn btn-primary" style="border-radius: 0 !important;" onclick="addToPref(' + data.instt_code + ')">Add to Preferences</button>' +
                                                '</div>'+

                                            '<div>' +
                                                '<form id=' + data.instt_code + ' action="{% url "instt_all_details" %}" method="post">'+
                                                    '<div>' +
                                                        '<a href="javascript:;" onclick="document.getElementById(' + data.instt_code + ').submit();"' + ' class="text-footer"> Know More <i class="fa fa-arrow-circle-right"></i> </a> ' +
                                                    '</div>' + 
                                                    
                                                    '<select hidden name="instt_code">' +
                                                        '<option value=' + data.instt_code + 'selected>' + data.instt_code + '</option>' +
                                                    '</select>' +
                                                '</form>' +
                                            '</div>' +
                                        '{% endif %}' +
                                    '</div>' +
                                '</div>' +
                        '</td>'
                )
            }
        });
    });

    function checkBoxAction(ele, content, what) {
        switch(what){
            case 'state':
                processCheckBox(ele, states, content);
                processFilter('state')
                break;
            case 'city':
                processCheckBox(ele, cities, content);
                processSessionStorage(cities);
                processFilter('city')
                break;
            case 'type':
                processCheckBox(ele, types, content);
                processFilter('type')
                break;
        }

        //Refresh Table
        reloadData()
    }

    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    function processCheckBox(ele,arrayContent, content){
        var contentFound = arrayContent.indexOf(content);
        if (ele.checked) {
            if (contentFound = -1 ){
                arrayContent.push(content)
            }
        } else {
            if (contentFound > -1 ){
                arrayContent.splice(contentFound,1)
            }
        }
    }

    function processFilter(what) {
        switch(what) {
            case 'state':
                if (states.length > 0) {
                    $("#state-clear").show()
                } else {
                    $("#state-clear").hide()
                }
                break;
            case 'city':
                if (cities.length > 0) {
                    $("#city-clear").show()
                } else {
                    $("#city-clear").hide()
                }
                break;
            case 'type':
                if (types.length > 0) {
                    $("#type-clear").show()
                } else {
                    $("#type-clear").hide()
                }
                break;
        }
    }

    function clearFilter(what) {
        switch(what) {
            case 'state':
                unCheckSelected(states);
                states = [];
                $("#state-clear").hide()
                break;
            case 'city':
                unCheckSelected(cities);
                cities = [];
                sessionStorage.cities = [];
                $("#city-clear").hide()
                break;
            case 'type':
                unCheckSelected(types);
                types = [];
                $("#type-clear").hide();
                break;
            case 'compare': 
                clearCompareInstitutes();
                break;
        } 

        //Vijay: Refresh Table Data
        reloadData()
    }

    function clearCompareInstitutes() {
        institutesToClear = JSON.parse(sessionStorage.institutesToCompare);
        institutesToClear.forEach(content => {
            $("#compare"+content).prop("checked", false);
            $("#selectedInsttCodes option[value='" + content + "']").remove();
            $("#compare-inst-li"+content).remove();            
        });        
        insttcode = [];
        institutes = []
        sessionStorage.institutesToCompare = insttcode;
        sessionStorage.institutes = institutes;
        $("#compare-list").hide()
        $("#sticky").css("display", "none");
    }

    function reloadData() {
        //Vijay: Refresh Table Data
        myCriteria = {
            'stateList' : states,
            'cityList' : cities,
            'insttTypeList'  : types
        }
        table = $("#insttTbl").DataTable();
        table.draw();        
    }

    function unCheckSelected(arrayIncoming) {
        arrayIncoming.forEach(content => {
            $("#"+content.replace(/\s+/g,"_")).prop("checked", false);
        });
    }

    function processSessionStorage(content) {
        sessionStorage.cities = cities
    }

    function processSessionStore() {
        // Target
        if (sessionStorage.institutesToCompare) {
            institutesToCompared = JSON.parse(sessionStorage.institutesToCompare);

            if ((sessionStorage.institutesToCompare) && (insttcode.length == 0)) {
                insttcode = JSON.parse(sessionStorage.institutesToCompare)
                institutes = JSON.parse(sessionStorage.institutes)
            }

            for (let index = 0; index < institutesToCompared.length; index++) {
                $("#compare"+institutesToCompared[index]).prop("checked", true);
            }

            
            if (JSON.parse(sessionStorage.institutesToCompare).length > 0 ) {
                $("#compare-list").show()
                $("#compare-clear").show()
            } else {
                $("#compare-list").hide()
                $("#compare-clear").hide()
            }
            if (JSON.parse(sessionStorage.institutesToCompare).length > 1 ) {
                $("#sticky").css("display", "block");
            } else {
                $("#sticky").css("display", "none");
            }
        

            if (!processed) {
                if ($('select#selectedInsttCodes option').length == 0) {
                    for (let index = 0; index < institutesToCompared.length; index++) {
                        $("#compare"+institutesToCompared[index]).prop("checked", true);
                        $("#selectedInsttCodes").append("<option selected value='" + institutesToCompared[index] + "'>" + institutesToCompared[index] + "</option>");

                        instFound = _.findIndex(institutes, function(o) { return o.inst_code == institutesToCompared[index]; });
                        $("#compare-inst-ul").append(
                                        '<li class="compare-inst-li" id="compare-inst-li'+ institutes[instFound].inst_code +'">'+
                                            '<label class="compare-inst-name" id="compareId' + institutes[instFound].inst_code + '" onclick="compareRemove('+ institutes[instFound].inst_code +')">' + '<i class="fa fa-fw fa-trash-o" style="color:#ff5821;"> </i>' + institutes[instFound].inst_name + '</label>' +
                                        '</li>')
                    }
                    processed = true
                }
            }

            if (JSON.parse(sessionStorage.institutesToCompare).length > 0 ) {
                $("#compare-list").show()

            } else {
                $("#compare-list").hide()
            }

            if (JSON.parse(sessionStorage.institutesToCompare).length > 1 ) {
                $("#sticky").css("display", "inline");
            } else {
                $("#sticky").css("display", "none");
            }
        }

        if (sessionStorage.cities) {
            $("#city-clear").show()
        } else {
            $("#city-clear").hide()
        }

        if (sessionStorage.institutesToCompare) {
            $("#compare-clear").show()
        } else {
            $("#compare-clear").hide()
        }
    }

    // Vijay : Function to filter search values
    function filterValues(inputE, ulE, liE, labelE) {
        
        var input, filter, ul, li, a, i;
        input   = document.getElementById(inputE);
        filter  = input.value.toUpperCase();
        ul      = document.getElementById(ulE);
        li      = ul.getElementsByTagName("li");
        for (i  = 0; i < li.length; i++) {
            a   = li[i].getElementsByTagName("label")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    // Function to check if compare count and to update an arrary
    function checkAll(ele, instt_code) {

        if (sessionStorage.institutesToCompare) {
            insttcode = JSON.parse(sessionStorage.institutesToCompare)            
        }
        var index = insttcode.indexOf(instt_code);

        if (ele.checked) {
            if (index = -1) {
                if ($('select#selectedInsttCodes option').length > 3) {
                    $("#compare"+instt_code).prop("checked", false);
                    alert("Please select only up to 4 institutes to compare!");
                    return;
                }
                insttcode.push(instt_code);
                $("#selectedInsttCodes").append("<option selected value='" + instt_code + "'>" + instt_code + "</option>");

                $("#compare-inst-ul").append(
                                        '<li class="compare-inst-li" id="compare-inst-li'+ instt_code +'">'+
                                            '<label class="compare-inst-name" id="compareId' + instt_code + '" onclick="compareRemove('+ instt_code +')">' + '<i class="fa fa-fw fa-trash-o" style="color:#ff5821;"> </i>' + ele.value + '</label>' +
                                        '</li>'
                                    )
                institutes.push( { 'inst_code' : instt_code,'inst_name':ele.value })
            }
        } else {
            if (index > -1) {
                insttcode.splice(index, 1);
                instFound = _.findIndex(institutes, function(o) { return o.inst_code == instt_code; });
                institutes.splice(instFound, 1);
                $("#selectedInsttCodes option[value='" + instt_code + "']").remove();
                $("#compare-inst-li"+instt_code).remove();
            }
        }

        sessionStorage.institutesToCompare = JSON.stringify(insttcode);
        sessionStorage.institutes = JSON.stringify(institutes);

        if (sessionStorage.institutesToCompare) {
            if (JSON.parse(sessionStorage.institutesToCompare).length > 0 ) {
                $("#compare-list").show()
                $("#compare-clear").show()
            } else {
                $("#compare-list").hide()
                $("#compare-clear").hide()
            }
            if (JSON.parse(sessionStorage.institutesToCompare).length > 1 ) {
                $("#sticky").css("display", "block");
            } else {
                $("#sticky").css("display", "none");
            }
        }

        $('#selectedInsttCodes').prop('selected', true);
    }

    function compareRemove(instCode) {
        var index = insttcode.indexOf(instCode);
        if (index != -1 ) {
            insttcode.splice(index, 1);
            $("#compare"+instCode).prop("checked", false);
            $("#selectedInsttCodes option[value='" + instCode + "']").remove();
            $("#compare-inst-li"+instCode).remove();
            sessionStorage.institutesToCompare = JSON.stringify(insttcode);
            if (JSON.parse(sessionStorage.institutesToCompare).length > 0 ) {
                $("#compare-list").show()
            } else {
                $("#compare-list").hide()
            }            
        } 
    }

    function getSelectedInsttCodes() {
        return insttcode;
    }


    function addToPref (instt_code) {
    
        $.ajax({
            url: '{% url "add_to_preferences" %}',
            data: {
            'instt_code': instt_code
            },
            dataType: 'json',
            success: function (data) {
                
                status = data.status;
            
                switch(status){
                    case '00':
                        alert("Insitute added to your Preferences Successfully");
                        break;
                    case "01":
                        alert("This Institute is already add to your Preferences");
                        break;
                    case "02":
                        alert("Sorry, We have encounter some issue while updating. Let us know your preference and we will add it for you.");
                        break;
                }
            },
            error: function(xhr){
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }                
        });
    }
    
</script>
 
{% endblock %}

{% endblock features %} 

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %} 
{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->