
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

        <!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">Seat Probablity - If-then Analysis</h3>

            <div class="block">

            <form action="{% url 'JEE_prog_instt_rank_results' %}" method='post' id='getRanks'>
            {% csrf_token %}

                <div class="row">

                    <!-- Modal -->
                    <div class="modal fade" id="prefModal" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Using your Preferences</h4>
                                </div>
                                <div class="modal-body">
                                    Select 'Yes' if you would like to use the preferences that you have saved (Main Menu -> PREFERENCES -> View/Set My Preferences). 
                                    These Programs and Institutes will be used display the ranks.<br />
                                    You can still choose to select Programs and Institutes within those preferences. Please use 'ctrl + click' to select multiple Program, Institutes.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-xs-12 col-sm-4">
                        <div class = "panel panel-info">
        
                            <button type="button" class="pull-right btn-info btn-sm " title='Instructions!' data-toggle="modal" data-target="#prefModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                            <div class="panel-heading">
                                <h5 class="panel-title">Use Your Preferences</h5>
                            </div>
                            <div class="panel-body">
                                <div id="prefRadio" class="col-xs-12" >
                                    Would you like to use the Institution and Program preferences set by you?
                                    <label class="radio-inline">
                                        <input type="radio" id="radioyes" checked="checked" onchange = "setProgInsttList(), $('#mainRadio').click()" name="optradio" value="ON">Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id = "radiono" onchange = "setProgInsttList(), $('#mainRadio').click()" name="optradio"  value="OFF">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Get the ranks by</h5>
                            </div>
                            <div id= "mainAdvRadio" class="panel-body">
                                <label class="radio-inline">
                                <input type="radio" id="mainRadio"  checked="checked"  onchange = "setMainAdv('MAIN')" name="mainAdvRadio"  value="MAIN">JEE MAIN
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" id = "advRadio" onchange = "setMainAdv('ADV')" name="mainAdvRadio"  value="ADV">JEE ADV
                                </label>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade" id="pref" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Selecting Program, Institutes</h4>
                                </div>
                                <div class="modal-body">
                                    Select 'Yes' if you would like to view all the Programs and Institutes and then select the ones you would like to be find the ranks for.<br />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-xs-12 col-sm-4">
                        <div id="selectPref" class = "panel panel-info">
                            <button type="button" class="pull-right btn-info btn-sm " title='Instructions!' data-toggle="modal" data-target="#pref"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                            <div class="panel-heading">
                                <h5 class="panel-title">Select Program, Institutes</h5>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-12" >
                                    Would you like to select any Institutions and Programs?
                                    <label class="radio-inline">
                                      <input type="radio" id="radioyes1"  checked="checked"  onchange = "setProgInsttList()" name="optradio1"  value="ON">Yes
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" id = "radiono1" onchange = "setProgInsttList()" name="optradio1"  value="OFF">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>    
                    
                </div>

                <div class="row">
                    <div id= "progUserPref" class="col-sm-6" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Select the Program Preferences</h5>
                            </div>
                            <div id = "progUserDiv" class="panel-body" style = "padding:0px">
                                {% if programUserList.count > 0 %}
                                    <select  id="progUserList" name ="progUserList" style= "list-style:none; min-width:350px; max-width:453px;" multiple='multiple' size='5'> 
                                        {% for ip in programUserList %}
                                            <option class = "list-group-item" style="list-style: none;">{{ ip.Program__description }}</option>
                                        {% empty %}
                                            You don't have any program preferences set currently. The result will not consider your prefernce.    
                                        {% endfor %}
                                    </select>           
                                {% else %}
                                    <p style = "padding:10px" class="text-primary"><small>You don't have any Program preferences set currently. The result will not consider your preferences.</small></p>    
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div id= "insttUserPref" class="col-sm-6" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Select the Institute Preferences</h5>
                            </div>
                            <div id="insttUserDiv" class="panel-body" style = "padding:0px">
                                {% if insttUserList.count > 0 %}
                                    <select  id="insttUserList" name="insttUserList" style= "list-style:none; min-width:350px; max-width:453px;" multiple='multiple' size='5'> 
                                        {% for ip in insttUserList %}
                                            <option class = "list-group-item" style="list-style: none;">{{ ip.Institute__instt_name }}</option>
                                        {% endfor %}
                                    </select>           
                                {% else %}
                                    <p style = "padding:10px" class="text-primary"><small>You don't have any Institute preferences set currently. The result will not consider your preferences.</small></p>    
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div id= "progPref" class="col-sm-6" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Select the Program Preferences</h5>
                            </div>
                            <div id = "progDiv" class="panel-body" style = "padding:0px">
                                <select  id="progList" name="progList" style= "list-style:none; min-width:350px; max-width:453px;" multiple='multiple' size='5'> 
                                    {% for ip in progList %}
                                        <option class = "list-group-item" style="list-style: none;">{{ ip.Program__description }}</option>
                                    {% empty %}
                                        You don't have any program preferences set currently. The result will not consider your preferences.    
                                    {% endfor %}
                                </select>           
                            </div>
                        </div>
                    </div>

                    <div id= "insttPref" class="col-sm-6" >
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h5 class="panel-title">Select the Institute Preferences</h5>
                            </div>
                            <div id = "insttDiv" class="panel-body" style = "padding:0px">
                                <select  id="insttList" name="insttList" style= "list-style:none; min-width:350px; max-width:453px;" multiple='multiple' size='5' onkeyup = "" onclick="" > 
                                    {% for ip in insttProgList %}
                                        <option class = "list-group-item" style="list-style: none;">{{ ip.Institute__instt_name }}</option>
                                    {% empty %}
                                        You don't have any Institute preferences set currently. The result will not consider your preferences.    
                                    {% endfor %}
                                </select>           
                            </div>
                        </div>
                    </div>
                </div>
                
                <button id = "getResults" name = "getRanks" class='btn btn-more' type='submit' formmethod='post' value='submit' form = 'getRanks'> <i class="fa fa-plus"></i> Get Ranks</button>
                                
            </form>
            </div>
            
        </div>
    </div>
    

    <script>
        function getValues() {
            
            var elem = document.getElementById("progList");
            var selVals = "";
            var firstLoop = true;
            for (var i = 0; i < elem.options.length; i++) {
             if(elem.options[i].selected ==true){
             
                if(firstLoop){
                   selVals = elem.options[i].value;
                   firstLoop = false;
                } else {   
                    selVals = selVals + ";" + elem.options[i].value;
                }
            }
          }
            document.getElementById("selectedProgs_nv").value = selVals;
        }
    </script>



    {% load static %}
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            setProgInsttList();
            $('#mainRadio').click();
        });    
    </script>
    
    
    <script>
        function setProgInsttList(){
        
            RadioYes = document.getElementById("radioyes").checked
            RadioNo = document.getElementById("radiono").checked
            
            Radio1Yes = document.getElementById("radioyes1").checked
            Radio1No = document.getElementById("radiono1").checked
            
            if (RadioYes) {
                document.getElementById("progPref").style.display= "none"
                document.getElementById("insttPref").style.display= "none"
                document.getElementById("progUserPref").style.display= "block"
                document.getElementById("insttUserPref").style.display= "block"

                document.getElementById("selectPref").style.display = "none";
            } else {
                
                if (RadioNo && Radio1Yes) {
                    document.getElementById("progPref").style.display= "block"
                    document.getElementById("insttPref").style.display= "block"
                    document.getElementById("progUserPref").style.display= "none"
                    document.getElementById("insttUserPref").style.display= "none"
    
                    document.getElementById("selectPref").style.display = "block";
    
                } else {
                    if (Radio1No) {
                        document.getElementById("progPref").style.display = "none"; 
                        document.getElementById("insttPref").style.display = "none"; 
                        document.getElementById("progUserPref").style.display= "none"
                        document.getElementById("insttUserPref").style.display= "none"
                        
                        document.getElementById("selectPref").style.display = "block";
                       }
                }
            }
        }
    </script>


    <script>
    function setPref(){
        if ( document.getElementById("radiono").checked == true){
            document.getElementById("selectPref").style.display = "block";
            document.getElementById("progPref").style.display = "none"; 
            document.getElementById("insttPref").style.display = "none"; 
        } else {
            document.getElementById("selectPref").style.display = "none";
            document.getElementById("progPref").style.display = "block"; 
            document.getElementById("insttPref").style.display = "block"; 
        }
        
        if ( document.getElementById("radiono1").checked == true){
            document.getElementById("progPref").style.display = "none"; 
            document.getElementById("insttPref").style.display = "none"; 
        } else {
            document.getElementById("progPref").style.display = "block"; 
            document.getElementById("insttPref").style.display = "block"; 
        }
    }    
    </script>    
    
    <script>
    
        $('#mainAdvRadio input:radio').click(function() {
            if ($(this).val() === 'MAIN') {
                var insttType= 'NON-IIT';
            } else if ($(this).val() === 'ADV') {
                var insttType= 'IIT';
            } 
 
        pref = document.querySelector('input[name=optradio]:checked').value;

        if (pref == 'ON') {
            insttOrProg = "INSTT"; 
            $.ajax({
                url: '{% url "get_user_instt_progs_by_type" %}',
                data: {
                'insttType': insttType, 'insttOrProg':insttOrProg
                },
                dataType: 'json',
                success: function (data) {
                    
                    var txt = "";
                                                
                    txt = "<select id='insttUserList' name ='insttUserList' style= 'list-style:none; min-width:350px; max-width:453px;' multiple='multiple' size='5'>";
                    $.each(data, function(index, element) {
                        txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Institute__instt_name + "</option>";
                    });
                    txt += "</select>"; 

                    $("#insttUserDiv").html(txt);                        
                }
            });
    
    
            insttOrProg = "PROG"; 
            $.ajax({
                url: '{% url "get_user_instt_progs_by_type" %}',
                data: {
                'insttType': insttType, 'insttOrProg':insttOrProg
                },
                dataType: 'json',
                success: function (data) {
                    
                    var txt = "";
    
                    txt = "<select  id='progUserList' name ='progUserList' style= 'list-style:none; min-width:350px; max-width:453px;' multiple='multiple' size='5'>";
                    $.each(data, function(index, element) {
                        txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Program__description + "</option>";
                    });
                    txt += "</select>"; 
                    
                    $("#progUserDiv").html(txt);                        
                }
            });
        }

        if (pref == 'OFF') {
            insttOrProg = "INSTT"; 
            $.ajax({
                url: '{% url "get_instt_progs_by_type" %}',
                data: {
                'insttType': insttType, 'insttOrProg':insttOrProg
                },
                dataType: 'json',
                success: function (data) {
                    
                    var txt = "";
                                                
                    txt = "<select id='insttList' name ='insttList' style= 'list-style:none; min-width:350px; max-width:453px;' multiple='multiple' size='5'>";
                    $.each(data, function(index, element) {
                        txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Institute__instt_name + "</option>";
                    });
                    txt += "</select>"; 
                    
                    $("#insttDiv").html(txt);                        
                }
            });
    
    
            insttOrProg = "PROG"; 
            $.ajax({
                url: '{% url "get_instt_progs_by_type" %}',
                data: {
                'insttType': insttType, 'insttOrProg':insttOrProg
                },
                dataType: 'json',
                success: function (data) {
                    
                    var txt = "";
    
                    txt = "<select  id='progList' name ='progList' style= 'list-style:none; min-width:350px; max-width:453px;' multiple='multiple' size='5'>";
                    $.each(data, function(index, element) {
                        txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Program__description + "</option>";
                    });
                    txt += "</select>"; 
                    
                    $("#progDiv").html(txt);                        
                }
            });
        }

        })          
            
    </script>
            
            
            
{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

