<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <title>NextSteps - Search for the best engineering college, save your time and effort, Manage admission process. Features
        such as details of engineering colleges in India, shortlist, track important dates, assess probability of a seat
        in IITs, NITs, customized report, calendar for tracking the application process, know college opening/closing
        JEE ranks, cut offs, Study Panner and much more.
    </title>
    <meta name="keywords" content="search engineering colleges, engineering colleges, engineering college admission, engineering college application, engineering collges in India, engineering institutes, JEE seat probability, Study Planner, IIT, JEE, NIT, "/> 
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="NextSteps">
    <meta property="og:image" content="website">
    <meta property="og:url" content="https://www.NextSteps.co.in">
    <meta property="og:site_name" content="NextSteps">
    <meta property="og:description" content="Online Assistant - NextSteps to Bright Future!!">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/icons/114x114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/icons/72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icons/default.png' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0-rc.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.11.3.js"></script>
    <script src="//code.jquery.com/ui/1.12.0-rc.1/jquery-ui.js"></script>

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="https://cdn.rawgit.com/tonystar/float-label-css/v1.0.2/dist/float-label.min.css" rel="stylesheet">
    <link href="{% static 'js/css/bootstrap-datepicker.css' %} " rel="stylesheet">


    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/owl.transitions.min.css' %}" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Calendar stylsheet -->
    <link rel='stylesheet' href="{% static 'fullcalendar/css/fullcalendar.css' %}">
    <link rel='stylesheet' href="{% static 'fullcalendar/css/fullcalendar.print.css' %}" media="print">

    <script src="{% static 'fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>


    <!-- Required libraries for "SelectBoxIt"
    <link type="text/css" rel="stylesheet" href="http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css" />
    <script src="{% static 'lib/SelectBoxIt/jquery.selectBoxIt.js' %}"></script> -->


    <!-- bootstrap- multiselect -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-multiselect.css' %}" type="text/css" />

    <!-- Bootstrap-table -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-table/extensions/editable/bootstrap-editable.css' %}">

    <!-- Bootstrap-table-expandable -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-table-expandable/css/bootstrap-table-expandable.css' %}">

    <!-- JQuery DataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/DataTables/datatables.min.css' %}" />

    <!-- Required JavaScript Libraries -->
    <script src="{% static 'lib/popper.js/dist/umd/popper.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/stellar/stellar.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

    <!-- Required JavaScript Library for editable table -->
    <script src="{% static 'bootstable/bootstable.js' %}"></script>
    <script src="{% static 'lib/easyJqueryTable/js/table.js' %}"></script>
    <!-- Conflicts    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script> -->


    <!-- Vijay jquery news ticker -->
    <script src="{% static 'lib/news-ticker/jquery.bootstrap.newsbox.min.js' %}"></script>

    <!-- Vijay lodash -->
    <script src="{% static 'lib/lodash/lodash.min.js' %}"></script>

    <!-- Template Specific Custom Javascript File -->
    <script src="{% static 'js/custom.js' %}"></script>
    

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="{% static 'js/color-switcher.js' %}"></script>
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/DataTables/datatables.min.js' %}"></script>

    <!-- Bootstrap-table scripts -->
    <script src="{% static 'lib/bootstrap-table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table-expandable/js/bootstrap-table-expandable.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/extensions/editable/bootstrap-table-editable.js' %}"></script>
    <!--<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>-->
    <script src="{% static 'lib/bootstrap-table/extensions/editable/bootstrap-editable.js' %}"></script>    

    <!-- Google+ share -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
    <!--  <link href="#" id="colour-scheme" rel="stylesheet"> -->

</head>

<!-- ======== @Region: body ======== -->

<body class="fullscreen-centered page-login">




<script src="https://apis.google.com/js/platform.js" async defer></script>



  <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
    <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">

    <!-- ======== @Region: #content ======== -->
        <div id="content">
            <div class="header">
                <div class="header-inner">
                    <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                    <a class="navbar-brand center-block" href="{% url 'index' %}" title="Home">
                        <h1 class="hidden">
                            <img src="{% static 'img/NextStepsLogo1.png' %}" alt="NextSteps Logo">
                            NextSteps
                        </h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="text-center">
                                <strong>Login Using Your NextSteps Account or Social Media Account</strong>
                            </h5>
                        </div>
                        <div class="panel-body">
 
                            {% load socialaccount %}
                            {% providers_media_js %}

                            <div><strong>NextSteps Account</strong></div>
                            
                            <div class = "well">

                                <form accept-charset="UTF-8" role="form" method="POST">
                                    {% csrf_token %}
                                    <fieldset>
                                    <div class=""><small><strong>Enter Username or Email and Password to login</strong></small></div>
                                    <div class="row">
                                        <div style = "width:94%;">
                                        <div class = "col-sm-6">
                                            <div class="form-group has-float-label">
                                                <div class="input-group input-group-lg">
                                                    <span class="input-group-addon"><i class="fa fa-user-circle-o "></i></span>
                                                    <input name = "username" type="text" class="form-control" placeholder="Username">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class = "col-sm-6">
                                            <div class="form-group has-float-label">
                                                <div class="input-group input-group-lg">
                                                    <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                                                    <input name = "email" type="text" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
    
                                    <div class="form-group has-float-label ">
                                        <div class="input-group input-group-lg">
                                                <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                                                <input name = "password" type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me" checked>
                                            Remember Me
                                        </label>
                                    </div>
    
                                    <!-- To check if user is not authenticated and display an error message if not autheticated -->
                                    <!-- The view returns a value "invalid" in invalid key if use if not authenticated. -->
                                    {% if invalid == 'invalid' %}
                                        <div class="alert alert-danger">
                                          <button type="button" class="close" data-dismiss="alert"></button>
                                          <h4>
                                              Error!
                                            </h4> Your username and password didn't match! Please try again.
                                        </div>
                                    {% endif %}
                      
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                    
                                    </fieldset>
                                </form>
    
                                <p class="m-b-0 m-t">
                                    <span style="float:left">Not signed up? <a href="{% url 'signup' %}">Sign up here</a></span>
                                    <span style="float:right"><a href="{% url 'password_reset' %}">Forgot Username or Password?</a></span>
                                </p>
                            </div> 

                            <div>
                                <strong>Social Media Account</strong>
                            </div>
                            <div class = "well">
                                <div class = "row">
                                    <div class="col-sm-3 text-center">
                                        <a class="btn auth-provider-button hover-on" href="{% provider_login_url 'facebook' method='js_sdk' %}">
                                          <img src="{% static 'img/facebook_logo.svg' %}" alt="Facebook Login" style="height:38px;border:0;">
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a class="btn auth-provider-button hover-on" href="{% provider_login_url 'google' %}">
                                          <img src="{% static 'img/google_logo.svg' %}" alt="Google Login" style="height:38px;border:0;">
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a class="btn auth-provider-button hover-on" href="{% provider_login_url 'twitter' %}">
                                          <img src="{% static 'img/Twitter_Logo.svg' %}" alt="Twitter Login" style="height:38px;border:0;">
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a class="btn auth-provider-button hover-on" href="{% provider_login_url 'instagram' %}">
                                          <img src="{% static 'img/instagram_logo.jpg' %}" alt="Instagram Login" style="height:38px;border:0;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>

</body>

</html>






