<div id = "terms" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <p class="modal-title text-primary">Terms and Conditions</p>
            </div>
            <div class="modal-body">
                <textarea id ="tnc" readonly>
Terms and Conditions
The following are the terms and conditions of accessing or using this website (https://www.NextSteps.co.in), hereinafter ‘NextSteps’, developed and operated by ‘NextSteps Solutions’.
By using NextSteps you understand that you are bound by these terms and conditions. These terms and conditions as well as privacy policy may be amended by us from time to time. Any amendments will result in change to this document. You are advised to review this document often. It is accessible from a link on the home page of https://www.NextSteps.co.in. Your continued use of NextSteps implies that you agree to the terms and conditions as in this document.

1.  Sign Up and Password
    a.  Sign up is required to use any feature of NextSteps, except the basic “Institutes” search . Sign up is free. When you sign up you are required to define a username, specify your email id and a password. You will be responsible for your username, email id and password. You can also fill up the profile section of the sign up that will be used to customize the NextSteps features for you. You agree by signing up that you will use this website only for yourself and not share your credentials with anyone else. 
    b.  You agree that any information you provide to us during sign up, and subscription is true, accurate, and complete to the best of your knowledge. We reserve the right to terminate your sign up, subscription and access to if you have provided false or misleading information.
    c.  If you forget your password you can request to reset it using “Forgot Password” option at login page. 
    d.  We reserve the right cancel your sign up, subscription and access to NextSteps at any time if we find that your login is being used by unauthorised person with your knowledge.
2.  Free and Paid Access
    a.  When you sign up, you get limited free access to NextSteps features. This lets you search for institutes across India by location, type, programs they offer, institutes survey rankings, JEE opening & closing ranks etc.
    b.  When you subscribe by paying a nominal fee you get additional access to NextSteps features that let you set preferences (shortlist institutes, prorgams) and get all the important information for the specific institutes so you can focus on those, get a printable PDF report with all information, a calendar with important dates for your preferred institutes so you can take timely actions, for JEE driven admission get a probability of you obtaining a seat in institutes selected by you, a study planner to help you plan, track and manage your study hours, a features to compare up to four institutes on various parameters, a feature to save your details for making application to various institutions etc.
    c.  For details on free and paid access please refer to the user guide
3.  Registration and Subscription
    a.  When you register and subscribe you get one user account. The subscription is for a period two (2) years from date of subscription.
    b.  Registration is one-time fee.
    b.  You will have an option to renew the subscription for a period of one (1) year before expiry of the current subscription.
    c.  You will get access to all the new features added to the NextSteps during the period your subscription is active.
    d.  If your subscription expires, you will get an option to renew it with additional fee.
    e.  Please note that registration and subscription cannot be cancelled and fee once paid cannot be refunded.
4.  Intellectual Property Rights
    a.  You agree that all the NextSteps features, designs, styles are property of NextSteps Solutions 
    b.  By Signing up, and subscribing you will have not any proprietary right over any content, features, web page designs & styles, data or information present in NextSteps.
    c.  No NextSteps contents, including logos, images, charts, reports, web page styles and designs, features, may be reproduced or retransmitted in any way or means without prior written consent from NextSteps Solutions.
    d.  You can download and print the data, information and reports strictly for your personal use but will not share with your peers, other interested parties.
    e.  You further represent that you will not resale the data or information or provide NextSteps access to others without our prior written consent.
5.  NextSteps Usage
    a.  You agree that NextSteps Solutions reserve the right to alter/modify, delete, add any content, features, data and information, styles to the NextSteps, without prior notice.
    b.  We intent to refine NextSteps further, add new features, enhance existing features and improve the customer experience. This will result in changes to NextSteps often. You agree we have absolute right to change/alter the contents and that you will use NextSteps on as-is basis. 
    c.  You agree that the details of institutes, programs, dates, seats, quotas, admission details, entrance exams etc. given in the website are often likely to change or may not be available at all. NextSteps Solutions does not guarantee correctness or availability of all the data, information.
    d.  NextSteps is designed primarily to be used on desktops, laptops and tablets. Though it will work on smaller devices such as smart mobile phones, it may not give you same experience, usage as on desktops and laptops.
    e.  We may share your personal details to any third party if such disclosure is required by law.
    f.  With your consent we may share your contact details with third parties that offer you solutions, services, products that may cater to your needs.
    g.  NextSteps may send SMSs or notifcations.
    h.  Message delivery is conditional to your mobile carrier’s technical infrastructure and network uptime.
    i.  By using various SMS based services and notifications from NextSteps you agree to receive messages, notifications, phone calls etc. from NextSteps and/or its associates.
    j.  Signing up, or subscribing to NextSteps paid or free access doesn't in any manner guarantee an admission to any institute.
    k.  When available at NextSteps, by agreeing to register with NextSteps mobile notifications, a user allows us to get in touch with him/her from time to time on events or offers regarding careers, admissions, jobs and other auxiliary services. This can include useful offers, information, as well as promotions.
    l.  NextSteps may temporarily be unavailable at any time due to maintenance, upgrade or any other reason. 
    m.  We are not responsible for any malfunction technical or otherwise of any telephone network or service, computer systems, servers or providers, computer or mobile phone equipment, software, failure of email on account of technical problems or traffic congestion in our site or application, including injury or damage to your or to any other person's computer, hardware, software or mobile phone as a result from using or downloading materials in connection with NextSteps.
    n.  We are not responsible or liable for any loss or damage resulting from the use of NextSteps or any other content or third party applications, software or content posted on NextSteps or transmitted to users.
    o.  The JEE Seat Chances feature is solely for the purpose of your information and your own assessment. It is based on the previous year JEE opening and closing ranks data. It absolutely does not mean that you will get a seat in the institutes and programs displayed in results.
    p.  If you are found be in breach of these terms and conditions we reserve the right to terminate and suspend your access to NextSteps at any time.
    q.  The risk of using NextSteps is with you and NextSteps Solutions will not be held responsible for any actions taken by you based on either NextSteps content or otherwise. 
6.  Cookies
    a.  To improve the services offered, personalize it to you and to improve your experience, NextSteps uses cookies. Cookies are a small pieces information which are stored on the desktops, laptops, and devices (such as mobiles phones, tablets).
    b.  You agree to let NextSteps use cookies. In case you disable cookies in your browser some features of NextSteps  may not work appropriately.
7.  Warranties
    a.  We provide absolutely no warranties or representations of any kind, explicit or implied, to the extent permitted by law.
    b.  NextSteps has no control over any external websites or over any external material, information, links, and content linked to it, as well as the external websites that have links on NextSteps.
    c.  We do not provide guarantees and no warranties of online availability, performance.
    d.  We disclaim any responsibility of following while you use NextSteps – damages to your devices (desktop, laptop, mobile phone or any other device), virus infections, technical problems, failures of your devices, loss of data or software on your devices.
    e.  NextSteps Solutions MAKES NO EXPLICIT OR IMPLICIT WARRANTIES WITH REGARDS TO ANY DATA AND INFORMATION PROVIDED ON NextSteps INCLUDING THE FITMENT FOR A PARTICULAR PURPOSE.
    f.  You understand and agree that we do not guarantee the accuracy, relevancy or completeness of any data or information in NextSteps. We are not responsible for the consequences of usage of NextSteps or any errors or omissions from the use of such data and information. We only attempt to provide the general information publically available and provide features to customize it for you.
    g.  Your use NextSteps is solely at your own risk.
8.  Limitation of liability
    a.  Except as required by law, we will not be liable for any direct losses or damages arising due to your use of NextSteps.
    b.  Except as required by law, we will not be liable for any indirect, incidental, special or consequential losses or damages. We shall also not be liable in each case regardless of whether such losses or damages arise in the normal course of events or whether we have been advised of the possibility of such damages and whether such losses or damages arise in contact or tort (including negligence) and for any reason.
    c.  We bear no responsibility for any accident, injury or loss of life to any individual or group of people resulting from accessing the information NextSteps hosts.
9.  Access from a prohibited territory
    a.  Do not access or use the content of NextSteps from a territory or jurisdiction where such access or use would infringe the applicable laws, rules or regulations of any governmental authority or regulatory organisation. You will be held entirely responsible of such infringements.
10. Governing jurisdiction
    a.  NextSteps Solutions controls and operates NextSteps from its Bengaluru, India office and makes no representation that the materials on the website are appropriate or available for use in other countries. If you use NextSteps from other counties, you are responsible for compliance with applicable local laws including but not limited to the export and import regulations of other countries. Any disputes arising herefrom shall be subject exclusively to the jurisdiction of the courts of law at Bengaluru, India.
11. Indemnity
    a.  You agree to indemnify and hold NextSteps Solutions harmless from any and all claims, liabilities, damages, losses and expenses, including attorneys' fees and costs, relating to or arising out of (a) your use or attempted use NextSteps; (b) your violation of any law or rights of any third party.

If any of these terms and conditions are not accepted in full, the access and use of NextSteps must be discontinued immediately.


Copyright © 2018 NextSteps Solutions. All rights reserved.
                </textarea>        


            </div>
        </div>
    </div>
</div>


