
<!-- Extend the logged in user home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps_base.html' %}
{% load static %}

<!-- Override slide-show block from parent -->
{% block slide-show %}

    <div class="showcase block block-border-bottom-grey">
    
        <div class = "welcomeuser">
        
            <!-- <div class="welcomeuser-blank">
                <br />&emsp;&emsp;&emsp;&emsp;
                <br />&nbsp;
            </div> -->
            <div class = "row">
                <div class = "col-sm-8">
                    {% block welcomeuser-cell %}
                        <div class="welcomeuser-cell">
                            <span style = "font-size:16px;"> <strong>Hi {{user.username}}!</strong></span>
                            <br />
                            Welcome to "NextSteps".
                            We can help you in your quest for best institutes. Please use the features on the right to get important information on institutes across India.
                        </div>
                    {% endblock welcomeuser-cell %}
                </div>                
                <!-- <div class = "welcomeuser-menu" >
                    <br />&emsp;&emsp;&emsp;&emsp;
                    <br />&nbsp;
                </div> -->
                <div class = "col-sm-4">
                    <div class = "" style = "color:#000000; display: table-cell;">
                        <li style = "margin-left:30px;">
                            <strong><a href="{% url 'instt_list' %}" style = "color:white !important; font-size:14px; "><u>Search Institutes</u></a></strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <!-- <small>&emsp;&emsp;Search institutes using various parameters</small> -->
                        </li>     
                        <li style = "margin-left:30px;">
                            <strong><a href="{% url 'program_filter' %}" style = "color:white !important; font-size:14px; "><u>Search Programs</u></a></strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <!-- <small>&emsp;&emsp;Take look at various programs to choose from</small> -->
                        </li>
                        <li style = "margin-left:30px;">
                            <strong><a href="{% url 'search_entrance_exams' %}" style = "color:white !important; font-size:14px; "><u>Entrance Exams</u></a></strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <!-- <small>&emsp;&emsp;Take look at various entrance exams to may want to prepare for</small> -->
                        </li>   
                        <li style = "margin-left:30px;">
                            <strong><a href="{% url 'instt_ranking_filter' %}" style = "color:white !important; font-size:14px; "><u>Survey Ranking</u></a></strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <!-- <small>&emsp;&emsp;Survey ranking and information on various institutes</small> -->
                        </li>        
                        <li style = "margin-left:30px;">
                            <strong><a href="{% url 'JEE_ranks_filter' %}" style = "color:white !important; font-size:14px; "><u>JEE Ranks</u></a></strong>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <!-- <small>&emsp;&emsp;Check out the opening, closing JEE ranks for various programs and institutes</small> -->
                        </li>        
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock slide-show %}


    <script type="text/javascript">
        $(document).ready(function() {
            $('#stateList').multiselect({
            
            enableCaseInsensitiveFiltering: true,
                buttonWidth: '200px',
                maxHeight: 300,
            });

            $('#cityList').multiselect({
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '200px',
                maxHeight: 300
            });
            
            $('#programList').multiselect({
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '200px',
                maxHeight: 300
            });
            
            $('#insttTypeList').multiselect({
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '200px',
                maxHeight: 300,
                includeSelectAllOption: true,
                enableHTML : true
            });
            $('#insttRankList').multiselect({
                buttonWidth: '200px',
                maxHeight: 300
            });
            
        });
    </script>
    
<script>
$(document).ready(function(){
  $("#stateInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#stateList option").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  
 $("#cityInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#cityList option").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });  
  
});
</script>    
    