
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->

{% extends 'NextSteps/NextSteps_base_vj.html' %}
{% load widget_tweaks %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

{% block instt-prog-menu %}
{% endblock instt-prog-menu %}
<!-- Override features block -->
{% block features %}
    <div id="highlighted-slider" class="container ccontainer">
        <div class="box box-default">
            <div class="box-header with-border row">
                <div class="col-md-2" ><h5>Sign Up</h5><i style = "border:1px solid grey; border-radius:5px; padding:3px;" class="fa fa-inr"> 0</i></div>
                <div class="col-md-10" >
                    <h6 class="ch6"><small>If you have a social media account, you can directly login using that account. 
                        Please go to "Login" page if you want to use your social media account instead 
                        of creating new one with NextSteps.</small>
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6" style="padding-left: 30px;">
                                <div class="panel panel-default cpanel cpanel-default">
                                    <div class="w3-container pref-head">
                                        <h5>
                                            NextSteps Account
                                        </h5>
                                    </div>
                                    <div class="w3-container">
                                        {% include 'includes/form.html' %}
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary">Sign Me Up</button> -->
                                </div>
                            </div>
                            
                            <div class="col-sm-6" style="padding-right: 30px;">
                                <div class="panel panel-default cpanel cpanel-default">
                                    <div class="w3-container pref-head">
                                        <h5>Profile</h5>
                                    </div>
                                    <div class="w3-container">
                                        {% for field in userprofile_form %}
                                            <div class="form-group cform-group row crow">
                                                {{ field.label_tag }}
                                                {% load widget_tweaks %}
                                                {% if userprofile_form.is_bound %}
                                                    {% if field.errors %}
                                                        {% render_field field class="form-control is-invalid" %}
                                                        {% for error in field.errors %}
                                                        <div class="invalid-feedback" style="color:#ff5821">
                                                            {{ error }}
                                                        </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% render_field field class="form-control is-valid" %}
                                                    {% endif %}
                                                {% else %}
                                                    {% render_field field class="form-control" %}
                                                {% endif %}
                                            
                                                {% if field.help_text %}
                                                <small class="form-text text-muted">
                                                    {{ field.help_text | safe }}
                                                </small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-md-offset-4" style="margin-top: 0px;margin-bottom: 3px;">
                                <button type="submit" class="btn btn-primary pull-left" style="border-radius: 0;width: 150px">Sign Me Up</button>
                            </div>
                        </div>
                        
                    </form>        
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready( function(){

        $( "#id_date_of_birth" ).datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: "-17y",
                changeMonth: true,
                changeYear: true,
                onClose: function( selectedDate ) {
                    $( "#id_birth_date" ).datepicker( "option", "minDate", selectedDate );
                    }
        });
    });

</script>    


{% endblock features %}

{% block registration %}
{% endblock registration %}
<!-- Footer-section remains as it is, no override -->

