
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

        <!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">Thank you! Registration & Subscription is Complete.</h3>

            <div class="row" id="contact">
    
                <div class="col-xs-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5 class="panel-title">Welcome, NextSteps Registered User!</h5>
                        </div>
                        <div class="panel-body">
                            <p>You can now use following features -</p>
                            <ul>
                                <li>Preferences</li>
                                    <ul>
                                        <li>Set your Programs/Institutes <a href="{url %'prefs' %}">preferences</a>, <a href= "#">notification settings</a> and <a href= "#">record your application details</a></li>
                                    </ul>
                                <li>Your Space</li>
                                    <ul>
                                        <li>Preferecnes Based</li>
                                            <ul>
                                                <li> For your preferred institutes get <a href="{% url 'preferred_Instt_Details' %}">details of programs & seats</a>, <a href="{% url 'preferred_Instt_ImpDates' %}">important dates</a>, ways to get admission, <a href= "{% url 'preferred_Instt_Entrance' %}">entrance exam</a> details, and get a <a href= "#">consolidated report</a> and a <a href= "#">calendar</a>.</li> 
                                            </ul>
                                        <li>JEE related details</li>
                                            <ul>
                                                <li>As you get your JEE rank, know the <a href= "#">best preferences</a> to be used for seat allocation</li>
                                                <li>Based on your anticiapted JEE rank range, know <a href= "#">chances</a> of getting a seat in your preferred institutes and programs</li>
                                            </ul>
                                    </ul>
                            </ul>            
                        </div>
                        <div  class="alert alert-success">
                            Click <a href="#" class="alert-link"> here</a> to understand these features in details!
                            <span style="float: right"><a href="{% url 'index' %} "><i class="fa fa-home">Home</i></a></span>
                        </div>
                                    
<!--                        <div class="panel-footer">
                        
                            <span style="float: left"> View your <a href="{% url 'user_account' %}"> account information </a> </span>
                            <span style="float: right"><a href="{% url 'index' %} "><i class="fa fa-home">Home</i></a></span>
                        </div>  -->
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

