
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">
    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">Save Your College Application Details</h3>

            <!-- the contents of this form are not visible except for the "Submit" button. The form items are set via the script and are submitted to the request -->
            <form action="#" method='post' id='save'>
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-2">
                    <div class="left ">
                        <ul class="nav-tabs">
                            <a href="#tab1" data-toggle="tab">
                            <li class="item-menu active" >
                                <span style="left: 15px;" class="glyphicon glyphicon-home"></span> 
                                <span class="menu">Name & Personal Details</span>
                            </li>
                            </a> 
                            <a href="#tab2" data-toggle="tab">
                                <li class="item-menu">
                                    <span style="left: 15px;" class="glyphicon glyphicon-book"></span> 
                                    <span class="menu">Address</span>
                                </li>
                            </a>
                            <a href="#tab3" data-toggle="tab">
                                <li class="item-menu">
                                    <span style="left: 15px;" class="glyphicon glyphicon-book"></span> 
                                    <span class="menu">Parents/Guardian</span>
                                </li>
                            </a>
                            <a href="#tab4" data-toggle="tab">
                                <li class="item-menu">
                                    <span style="left: 15px;" class="glyphicon glyphicon-pencil"></span> 
                                    <span class="menu">Education Details</span>
                                </li>
                            </a>                    
                        </ul>
                    </div>
                </div>
                
                <div class="col-xs-10">
                    <div style="height:300px">
  
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                <h3>Name and Personal Details</h3>

                                <div class="form-group">
                                    <label for="name">Name <small>(As per the school records)</small></label>
                                    <input class= "form-control" type="text" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="name">Date of Birth</label>
                                    <input class= "form-control" type="date" id="dob">
                                </div>
                                <div class="form-group">
                                    Gender:&nbsp; 
                                    <label class="radio-inline">
                                        <input type="radio" name="gender">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender">Female
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="category">StudentCategory</label>
                                    <input class= "form-control" type="text" id="category">
                                </div>
                                                                
                                
                            </div>
                            <div role="tabpane2" class="tab-pane fade in " id="tab2">
                                <h3>Address</h3>
                            </div>
    
                            <div role="tabpane3" class="tab-pane fade in " id="tab3">
                                <h3>Parents/Gaurdian</h3>
                            </div>
                            <div role="tabpane4" class="tab-pane fade in " id="tab4">
                                <h3>Parents/Gaurdian</h3>
                            </div>
                        </div>
                    </div>
                </div>
<!--                
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
                            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
                              <li class="active"><a href="#vtab1" data-toggle="tab">Tab 1</a></li>
                              <li><a href="#vtab2" data-toggle="tab">Tab 2</a></li>
                              <li><a href="#vtab3" data-toggle="tab">Tab 3</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                                    <h3>Tab 1</h3>
                                    <p>Place a link with the class <code>.nav-tabs-dropdown.btn.btn-block.btn-primary</code> above the tabs list and add an id of <code>#nav-tabs-wrapper</code> to the tabs list for the dropdown to work.
                                    <pre>
                                        <code class="language-html" data-lang="html">
                                           <p><span><</span>a <span style="color: #4f9fcf">href=</span><span style="color: #d44950;">"#"</span> <span style="color: #4f9fcf">class=</span><span style="color: #d44950;">"nav-tabs-dropdown btn btn-block btn-primary"</span><span>></span>Tabs<span><span><</span>/<span>a></span></span><br/><span><span><</span>ul</span> <span style="color: #4f9fcf">id=</span><span style="color: #d44950;">"nav-tabs-wrapper"</span> <span style="color: #4f9fcf">class=</span><span style="color: #d44950;">"nav nav-tabs nav-pills nav-stacked wells"</span><span>>...</ul></span></p>
                                        </code>  
                                    </pre>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="vtab2">
                                    <h3>Tab 2</h3>
                                    <p> Mauris imperdiet dignissim ante, in efficitur mauris elementum sed. Cras vulputate malesuada magna. Morbi tincidunt eros a dui cursus, vitae dignissim nulla scelerisque. Duis pharetra scelerisque mi vel luctus. Cras eu purus efficitur, blandit nisi id, fringilla nulla.</p>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="vtab3">
                                    <h3>Tab 3</h3>
                                    <p>Etiam id pharetra quam. Morbi tristique nunc vel sapien dapibus, sit amet imperdiet quam venenatis. Vestibulum et suscipit urna. Suspendisse volutpat quis est eu volutpat. Nulla non tortor venenatis turpis congue aliquet. Vivamus at elit vel massa elementum tempor sit amet sed odio. Nullam placerat, arcu sed ullamcorper ornare, erat erat placerat quam, in feugiat nulla purus in nunc. Maecenas vitae erat auctor, aliquam tellus et, vulputate eros.</p>
                                </div>
                            </div>
                        </div>
-->
                
                
            </div>
            </form>
 



	
        </div>
     </div>

{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

