
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps_base_vj.html' %}
{% load static %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
{% endblock slide-show %}

<!-- Override block from parent -->
{% block instt-prog-menu %}
{% endblock instt-prog-menu %}


<!-- Override features block -->
{% block features %}
    <div class="block" style="padding-top: 5%; padding-bottom: 5%;">
        <div class="container">

            <h3 class="block-title">NextSteps.co.in - User Guide</h3>

            <div class = "row">

                <div id ="userguide" class = "col-sm-10">
                    <div class="jumbotron">
                        <blockquote>
                            <p class = "big">
                                While you study hard to secure admission to your preferred Institute, 
                                you need all the help you can get on the admission processes, important information, 
                                dates, assessment of your chances, maintain a calendar of when-to-do-what and more. 
                                Missing out on an important piece of information or a date may mean missing out on a great chance.
                                NextSteps helps with the features and tools that give you information, data and more. 
                                It will save your precious time and effort and help you organize yourself, 
                                manage the admission process better.
                            </p>
                        </blockquote>
                    </div>    
        
                    <div class="jumbotron">
                        <h4 class="block-title">Search Features</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Search institutes across India with detailed information on the institutes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Details on institutes entrance exams, programs offered, survey ranks, JEE opening/closing ranks etc.</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Consolidated information on your preferred institutes</a></li>
                        </ul>
                    </div>
                    <div class="jumbotron">
                        <h4 class="block-title">“Admission Assistant” Features and Tools</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">Excellent admission calendar – keep track of all the important dates, customize it yourself</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Assess your chances through JEE – gives you possibility of securing a seat through JEE</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Powerful Study Planner – An advanced tool to manage your study hours. Has a graphical dashboard to show where you stand w.r.t. your plan</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Compare Institutes – A tool you can use to compare various institutes on various parameters</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Record Application Details – A handy tool to record all the details you need while applying to various college. Helps you save time and effort.</a></li> 
                        </ul>
                    </div>
                    
                    <div class="jumbotron">
                        <a href="{% url 'index' %}">NextSteps.co.in</a> is a website dedicated to helping students who are looking forward to undergraduate engineering college admission. 
                        NextSteps has a database of over 3000 undergraduate engineering colleges across India. It is <strong>“Your Online Admission Assistant”.</strong>            
                    </div>
                    
        
                    <h4 class = "block-title">Access to NextSteps</h4>
                    You can search institute details even without sign up. Just go to <a href="{% url 'index' %}">https://www.NextSteps.co.in </a> 
                    and start searching institutes. It is <strong>free</strong>.<br/>
                    Access to all other “Search” options on the website is <strong>free</strong>. You just <a href = "{% url 'signup' %}">sign up</a> and start using. Once signed up, 
                    you can search Institutes/Colleges by programs/courses, location, type of Institute, get information on programs, seats and quotas, 
                    survey ranking, opening & closing JEE ranks, and cut offs for various Institutes. These are essential ingredients in looking for 
                    colleges that are best fit for you. This section can be accessed from the home page under Search section.
                    You can use a range of more useful <strong>Admission Assisting</strong> features, and tools as you 
                    subscribe to NextSteps. These help save a lot of time and effort so you can concentrate on your studies. 
                    <br />
                    <br />
                    <br />
                    <a class = "btn btn-primary" href = "{% url 'user_guide_pg2' %}"><i class = "fa fa-chevron-right">&nbsp;Next</i></a>
                </div>

                <div class = "col-sm-2">
                    <div class = "left-nav">
                        <h5 class = "block-title">Table of Content</h5>
                        <a href = "{% url 'user_guide' %}">User Guide Home</a>
                    </div>
                
                </div>

            </div>                    
        </div>
     </div>

{% endblock features %}

{% block registration %}
{% endblock registration %}
<!-- Footer-section remains as it is, no override -->
