
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}


<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

        <!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">Choose Your Preferences</h3>

            <form action = "{% url 'prefConfirm' %}" method='post' id='SubmitPref'>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                Instructions to set Preferences</h5>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>The preferences you set here will be the basis for the details under "MY SPACE" menu</li>
                                <li>Please use the ""Set Your Preferences" section below to SET the preferences</li>
                                <ul>
                                    <li>Use the "Student Category" tab to select your category. This will be used while generating the reports for you.</li>
                                    <li>Use the "Programs" tab to select the programs you are interested in</li>
                                    <li>As you move to "Institutes" tab it will display the Institutes that offer those programs</li>
                                    <li>Select the Institutes that you want to set as your preference</li>
                                    <li>Use Control+click to select multiple choices</li>
                                    <li>After you have made the selections please click the "Set Preferences" button to save the preferences</li>
                                </ul>
                                <li>Your currently saved preferences are shown in "Your Currrent Preferences" section below</li>
                                <ul>
                                    <li>Click on + or - icon to expand or collpase</li>
                                    <li>Your currently saved preferences are displayed under respective areas</li>
                                </ul>
                            </ul>                        
                        </div>
                    </div>

<!--                <button type="submit" class="btn btn-primary btn-round-sm btn-sm" formmethod='get' value='submit' form = 'SubmitPref'>Set Preferences</button> -->
                <button class='btn btn-more' type='submit' formmethod='get' value='submit' form = 'SubmitPref'><i class="fa fa-plus"></i>Set Preferences</button>
                 {% csrf_token %}
    
                <!-- creating an invisible form items to submit the search filters to the view "SearchInstts-->
                <input style="display:none;" class="form-control" type="text" id="CountrySelections_nv" name='CountryValues'>
                <input style="display:none;" class="form-control" type="text" id="DisciplineSelections_nv" name='DisciplineValues'>
                <input style="display:none;" class="form-control" type="text" id="LevelSelections_nv" name='LevelValues'>
                <input style="display:none;" class="form-control" type="text" id="ProgramSelections_nv" name='ProgramValues'>
                <input style="display:none;" class="form-control" type="text" id="InsttSelections_nv" name='InsttValues'>
                <input style="display:none;" class="form-control" type="text" id="StuCatSelections_nv" name='stuCatValues'>
            </form>

            <div class="block">
                <div class="row" style="margin-left:0px">
                
                    <div class="col-sm-6" style="padding-left:0px">
                        <h5 class="text-primary"> <strong>Set Your Preferences</strong> </h5>
                        <ul class="nav nav-tabs">
                            <li style ="display:none"><a href="#country" data-toggle="tab"  class="text-fancy"><i class="fa fa-globe"></i>Geography</a></li>
                            <li style ="display:none"><a href="#discipline" data-toggle="tab" class="text-fancy"><i class="fa fa-list"></i>Disciplines</a></li>
                            <li style="display:none;"><a href="#level" data-toggle="tab" class="text-fancy"><i class="fa fa-graduation-cap"></i>Levels</a></li>
                            <li><a href="#StuCategory" id = "stuCatTab" data-toggle="tab" class="text-fancy"><i class="fa fa-book"></i>Student Category</a></li>
                            <li ><a href="#program" id= "programTab" data-toggle="tab" class="text-fancy"><i class="fa fa-book"></i>Programs</a></li>
                            <li><a href="#instt" id= "insttTab" data-toggle="tab" class="text-fancy"><i class="fa fa-institution"></i>Institutes</a></li>
                        </ul>                          
                          
                        <div class="tab-content">
                            <div class="tab-pane" id="country">
                            
                                {% if countryList %}
                                    <div>
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="CountrySelections"></i></p>
                                                                                        
                                        <select  id="countryList" style= "list-style:none; min-width:350px" multiple='multiple' size='5' onkeyup = "getMultipleSelectedValue('Country')" ontouchend="getMultipleSelectedValue('Country')"  onclick="getMultipleSelectedValue('Country')" > 
                                            {% for il in countryList %}
                                                <option class = "list-group-item" style="list-style: none;">{{il.country_name}}</option> 
                                            {% endfor %}    
                                        </select>           
                                    </div>
        
                                {% else %}
                                    <p>Something wrong here, no states found. Please report it using the contact form below.</p>
                                {% endif %}
            
                            </div>
                            <div class="tab-pane" id="discipline">
                        
                                {% if disciplineList %}
                                    <div>
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="DisciplineSelections"></i></p>
                                                
                                        <select id="disciplineList" class="list-group"  style= "list-style:none; min-width:350px;" multiple='multiple' size='5' onkeyup = "getMultipleSelectedValue('Discipline')" onclick ="getMultipleSelectedValue('Discipline')">
                                            {% for il in disciplineList %}
                                                <option class = "list-group-item " style="list-style: none;"> {{ il.description }} </option>
                                            {% endfor %}    
                                        </select>           
                                    </div>
                                {% else %}
                                    <p>Something wrong here, no cities found. Please report it using the contact form below.</p>
                                {% endif %}                
                    
                            </div>
        
            
                            <div class="tab-pane" id="level">
            
                                {% if levelList %}
                                    <div>                                        
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="LevelSelections"></i></p>
    
                                        <select class="list-group" id="levelList" style= "list-style : none; min-width:350px" multiple='multiple' size='5' onkeyup = "getMultipleSelectedValue('Level')" onclick ="getMultipleSelectedValue('Level')">
                                            {% for il in levelList %}
                                                <option class = "list-group-item " style="list-style: none;"> {{ il.level_name }} </option>
                                            {% endfor %}    
                                        </select>           
                                    </div>
                                {% else %}
                                    <p>Something wrong here, no types found. Please report it using the contact form below.</p>
                                {% endif %}                
                            </div>
        
                            <div class="tab-pane" id="StuCategory">
                                {% if stuCategoryList %}
                                    <div>                                        
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="StuCatSelections"></i></p>
        
                                        <select class="list-group" id="stuCatList" style= "list-style : none; min-width:350px; max-width:475px" size='10' onkeyup = "getMultipleSelectedValue('StuCat')" onclick ="getMultipleSelectedValue('StuCat')">
                                            {% for il in stuCategoryList %}
                                                <option class = "list-group-item" style="list-style: none;"> {{ il.description }} </option>
                                            {% endfor %}    
                                        </select>           
                                    </div>
                                {% else %}
                                    <p>Something wrong here, no types found. Please report it using the contact form below.</p>
                                {% endif %}                
                            </div>
    
                            <div class="tab-pane active" id="program">
            
                                {% if programList %}
                                    <div>                                        
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="ProgramSelections"></i></p>
        
                                        <select class="list-group" id="programList" style= "list-style : none; min-width:350px; max-width:475px" multiple='multiple' size='10' onkeyup = "getMultipleSelectedValue('Program')" onclick ="getMultipleSelectedValue('Program')">
                                            {% for il in programList %}
                                                <option class = "list-group-item" style="list-style: none;"> {{ il.description }} </option>
                                            {% endfor %}    
                                        </select>           
                                    </div>
                                {% else %}
                                    <p>Something wrong here, no types found. Please report it using the contact form below.</p>
                                {% endif %}                
                            </div>
    
                            <div class="tab-pane" id="instt">
            
                                {% if insttProgList %}
                                    <div>                                        
                                        <p style="#a9a9a9">Selections:&nbsp;<i class='text-primary' id="InsttSelections"></i></p>
    
                                        <select class="list-group" id="insttList" style= "list-style : none; min-width:350px" multiple='multiple' size='10' onkeyup = "getMultipleSelectedValue('Instt')" onclick ="getMultipleSelectedValue('Instt')">
    
                                            <!-- No data populated initially. The institutes will get populated based on the other selections by user (through AJAX script)-->
                                                <option class = "list-group-item" style="list-style: none;"></option>
    
                                        </select>           
                                    </div>
                                {% else %}
                                    <p>Something wrong here, no types found. Please report it using the contact form below.</p>
                                {% endif %}                
                            </div>
                            
                        </div>
                        <!-- end of tab content -->
                    </div>
                    <!-- Begin the display of current use preferecnes -->
                    <!-- Country, Discipline and Level panels to be invisible for now as NextSteps for now 
                    has fixed values for these. They are to be made visible after NextSteps is scaled up. -->
                    <div class="col-sm-6">

                        <h5 class="text-primary"> <strong>Your Currently Saved Preferences</strong> </h5>
                        <br />                        
                        <br />                        
                    
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    Geography Preferences</h6>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% if countryUserList %}
                                        {% for i in countryUserList %}
                                            <li>{{i.Country__country_name}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    Discipline Preferences</h6>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% if disciplineUserList %}
                                        {% for i in disciplineUserList %}
                                            <li>{{i.Discipline__description}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="panel panel-default" style="display:none">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    Level Preferences</h6>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% if levelUserList %}
                                        {% for i in levelUserList %}
                                            <li>{{i.Level__level_name}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">Program Preferences</h5>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body">
                                <ul id="prog">
                                    {% if programUserList %}
                                        {% for i in programUserList %}
                                            <li>{{i.Program__description}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>



                    
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    Institute Preferences</h6>
                                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body">
                                <ul id="insttPref">
                                    {% if insttUserList %}
                                        {% for i in insttUserList %}
                                            <li>{{i.Institute__instt_name}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    Student Category Preference</h6>
                                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            
                            <div class="panel-body">
                                <ul id="stuCatPref">
                                    {% if stuUserCat %}
                                        {% for i in stuUserCat %}
                                            <li>{{i.StudentCategory__description}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li style="list-style: none;">- No preferences set - </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- loading Jquery is required for following scripts to run-->
    {% load static %}
        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>

    <!-- Script to dynamically change the Institute preferences based on the selected countries, disciplines, levels and programs -->
    <!-- This script makes an AJAX call to the server with the list as parameters and gets the Institute list in return -->
    <script>
        $("#insttTab").focus(function () {
            var cntList= $("#CountrySelections_nv").val();
            var discList= $("#DisciplineSelections_nv").val();
            var lvlList= $("#LevelSelections_nv").val();
            var progList= $("#ProgramSelections_nv").val();
 
        $.ajax({
            url: '{% url "Get_Instts" %}',
            data: {
            'cntList': cntList, 'discList' : discList, 'lvlList' : lvlList, 'progList' : progList
            },
            dataType: 'json',
            success: function (data) {
                
                var txt = "<p style='#a9a9a9'>Selections:\&nbsp;<i class='text-primary' id='InsttSelections'></i></p>";
                txt += "<select id='insttList' class='list-group' style= 'list-style : none; min-width:350px; max-width:475px;' multiple='multiple' size='10' onkeyup = 'getMultipleSelectedValue(\"Instt\")' onclick ='getMultipleSelectedValue(\"Instt\")'>";
                $.each(data, function(index, element) {
                    txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Institute__instt_name + "</option>";
                });
                txt += "</select>"; 
                
                $("#instt").html(txt);                        
                $("#InsttSelections_nv").val("");

            }
        });
        })          
            
    </script>



    <!-- Script to dynamically change the Program preferences based on the selected countries, disciplines -->
    <!-- This script makes an AJAX call to the server with the list as parameters and gets the Program list in return -->
    <script>
        $("#programTab").focus(function () {
            console.log( "In AJAX Fn" );
            var cntList= $("#CountrySelections_nv").val();
            var discList= $("#DisciplineSelections_nv").val();
            var levelList= $("#LevelSelections_nv").val();
 
        $.ajax({
            url: '{% url "Get_Programs" %}',
            data: {
            'cntList': cntList, 'discList' : discList, 'levelList' : levelList
            },
            dataType: 'json',
            success: function (data) {
                
                var txt = "<p style='#a9a9a9'>Selections:\&nbsp;<i class='text-primary' id='ProgramSelections'></i></p>";                        
                        
                txt += "<select id='programList' class='list-group' style= 'list-style : none; min-width:350px; max-width:475px;' multiple='multiple' size='10' onkeyup = 'getMultipleSelectedValue(\"Program\")' onclick ='getMultipleSelectedValue(\"Program\")'>";
                $.each(data, function(index, element) {
                    txt += "<option class = 'list-group-item' style='list-style: none;'>" + data[index].Program__description + "</option>";
                });
                txt += "</select>"; 
                console.log("Final Txt = " + txt);
                
                $("#program").html(txt);                        
                $("#ProgramSelections_nv").val("");

            }
        });
        })          
            
    </script>


   <!-- Set the Instt form input value to blank when the Country, Discipline, Level or Program is changed -->
    <script>

        $("#countryList").change(function () {
            $("#InsttSelections_nv").val("");
        })
        $("#disciplineList").change(function () {
            $("#InsttSelections_nv").val("");
        })
        $("#levelList").change(function () {
            $("#InsttSelections_nv").val("");
        })
        $("#programList").change(function () {
            $("#InsttSelections_nv").val("");
        })
    </script>    


    <!-- Script to get the values selected and display those on page as well set in the invisible form fields -->
    <!-- These values will get submitted as use clicked on the submit button -->    
    <script>
        function getMultipleSelectedValue(theElement)
        {
          switch (theElement){
          case 'Country':
            var x=document.getElementById("countryList");
            break;
          case 'Discipline':
            var x=document.getElementById("disciplineList");
            break;
          case 'Level':
            var x=document.getElementById("levelList");
            break;
          case 'Program':
            var x=document.getElementById("programList");
            break;
          case 'Instt':
            var x=document.getElementById("insttList");
            break;
          case 'StuCat':
            var x=document.getElementById("stuCatList");
            break;
          }  
          
          var selVals = "";
          var firstLoop = true;
          for (var i = 0; i < x.options.length; i++) {
             if(x.options[i].selected ==true){
                if(firstLoop){
                   selVals = x.options[i].value;
                   firstLoop = false;
                } else {   
                    selVals = selVals + ";" + x.options[i].value;
                }
            }
          }
          switch (theElement){
          case 'Country':
            document.getElementById("CountrySelections").innerHTML = selVals;
            document.getElementById("CountrySelections_nv").value = selVals;            
            break;
          case 'Discipline':
            document.getElementById("DisciplineSelections").innerHTML = selVals;
            document.getElementById("DisciplineSelections_nv").value = selVals;
            break;
          case 'Level':
            document.getElementById("LevelSelections").innerHTML = selVals;
            document.getElementById("LevelSelections_nv").value = selVals;
            break;
          case 'Program':
            document.getElementById("ProgramSelections").innerHTML = selVals;
            document.getElementById("ProgramSelections_nv").value = selVals;
            break;
          case 'Instt':
            document.getElementById("InsttSelections").innerHTML = selVals;
            document.getElementById("InsttSelections_nv").value = selVals;
            break;
          case 'StuCat':             
            document.getElementById("StuCatSelections").innerHTML = selVals;
            document.getElementById("StuCatSelections_nv").value = selVals;
            break;
          }  
        }
    </script>
    
    <!--Script for the panel (Instructions to set Preferences) -->
    <script>    
        $(document).on('click', '.panel-heading span.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).on('click', '.panel div.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });

    </script>

    
    <!-- Forcing the default values to be selected -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("countryList").value= "India";
            document.getElementById("disciplineList").value = "Engineering";
            document.getElementById("levelList").value = "Undergraduation";
            document.getElementById("stuCatList").value = "General / Open";
            getMultipleSelectedValue('Country');
            getMultipleSelectedValue('Discipline');
            getMultipleSelectedValue('Level');
            getMultipleSelectedValue('StuCat');
    
        document.getElementById("programTab").focus();        
        });
    </script>
        
        
{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

