
<!-- READ THE INSTRUCTIONS BELOW BEFORE USING THIS TEMPLATE
 1. Start your page with this template and modify. Rename this template with HTML name and then modify.
 2. We keep as it is the header portion of the page (which is top hidden block and the navigation) 
    and the footer portion (footer block) on each page.
 3. Override only the "slide-show", "features", and "jointhem-blog" blocks on each page
 4. Keep the top "hidden" clock and the nav-bar as it is, which forms the header section of the page.
 5. Overriding the parent blocks will start from "slide-show" block 
 6. Keep the <div>s  given below as it is in the "slide-show" and "features" blocks to keep the same styling matching the home page. 
    If overriding the parent block without any content then remove the <div>s too, just keep block and endblock. 
 7. For most of the pages, you can keep the title of the page in "slide-show" block and put all the content in "features" block. 
    The "jointhem-blog" block can be kept empty.
 8. PLEASE REMEBER :- 
    TO OVERRIDE A BLOCK USE THE CORRESPONDING BLOCK AND <div>s, 
    TO KEEP THE BLOCK EMPTY JUST USE THE BLOCK OPEN AND ENDBLOCK, 
    AND TO KEEP ABLOCK AS IT IS DON'T USE THE BLOCK NAMES HERE SO THOSE BLOCKS FROM PARENT WILL BE USED AS IT IS. 
 -->

<!-- Extend the home page to keep the same styling for header and footer sections. -->
{% extends 'NextSteps/NextSteps.html' %}
{% load static %}

<!-- Override slide-show block from parent -->
{% block slide-show %}
    <div id="highlighted-slider" class="container">

		<!-- You content for the slide-show page here -->

    </div>

{% endblock slide-show %}

<!-- Override features block -->
{% block features %}
    <div class="showcase block block-border-bottom-grey">
        <div class="container">

            <h3 class="block-title">NextSteps.co.in - User Guide</h3>

            <p style="text-align: justify;">NextSteps has a database of over 6500 engineering colleges across India. When you Sign Up for free you will get access to search the colleges/Institutes by location, type of college, get details such as programs/courses offered, seats and quotas, institute survey ranks, cut offs for various programs, and JEE opening and closing ranks etc. When you Sign Up and Register + Subscribe you will have access to the powerful NextSteps features that will save you time and effort you would otherwise spend in doing it manually. It tracks your preferred/shortlisted programs, institutes and provide with all the information you need as you will go through the application, entrance exam, results processes. For JEE, it will also give you the seat probability based on your expected rank range and previous year opening, closing ranks.</p>
            <p><em>Free and Paid Access</em></p>
            <p>You can just sign up and use NextSteps for absolutely free. It lets you search Institutes/Colleges by programs/courses, seats and quotas, location, type of Institute, survey ranking, opening &amp; closing JEE ranks,&nbsp; and cut offs for various Institutes. This an important information as you research colleges that are best fit for you. All the free access features are in <strong>SEARCH</strong> menu.</p>
            <p>However, the real power of NextSteps is when you sign up and pay a nominal fee and make use of the NextSteps as your real digital assistant. It will give you an access to productivity features that save a lot of time and effort so you concentrate on your studies. These features give you access to <strong>PREFERENCES</strong> and <strong>MY SPACE</strong> menu.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 16.0pt; line-height: 107%;">Features</span></strong></p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">Search</span></strong></p>
            <p style="text-align: justify;"><em>By Location</em> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find institutes by state and cities</p>
            <p style="text-align: justify;"><em>By Type</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find institutes by the type of Institute (IIT, NIT, Govt engineering college, un-aided private engineering college etc.</p>
            <p style="text-align: justify;"><em>Survey Ranking&nbsp;&nbsp; </em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find the survey ranking for the institutes</p>
            <p style="text-align: justify;"><em>Opening/Closing ranks</em>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find JEE opening and closing ranks</p>
            <p style="text-align: justify;"><em>Cut Offs</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find the cut offs for programs/course in the respective institutes</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">Preferences</span></strong></p>
            <p style="text-align: justify;"><em>View/Set Preferences<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></em>View and set the program, institutes preferences (shortlist colleges that you want to target)</p>
            <p style="text-align: justify;"><em>College Application Details</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Save your details that you typically need while applying to several institutes</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">My Space</span></strong></p>
            <p style="text-align: justify;"><em>Institute Details </em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Get details of your preferred institutes</p>
            <p style="text-align: justify;  "><em>Important Dates</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For your preferred institutes get the important dates that you need to remember/refer to</p>
            <p style="text-align: justify;  "><em>Admission Routes</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Find out the various routes for getting admission into your preferred colleges</p>
            <p style="text-align: justify;"><em>Entrance Exams<strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></em>Find out the details of entrance exams for your preferred colleges</p>
            <p style="text-align: justify;  "><em>Consolidated Report</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Obtain s PDF report that you can print out. It contains all the consolidated information for the preferred institutes</p>
            <p style="text-align: justify;  "><em>Calendar</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A calendar that will show important dates for the preferred (shortlisted) colleges. This help you remember all the dates and get the reminders for.</p>
            <p style="text-align: justify;  "><em>Institute/Program Ranks<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></em>Find out the JEE opening and closing ranks for either your preferred programs, institutes or in all</p>
            <p style="text-align: justify;  "><em>Seat Probability<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></em>Based your anticipated JEE rank and last year opening/closing ranks, find out the probability of getting a seat in chosen institutes, program.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 16.0pt; line-height: 107%;">How To &hellip;</span></strong></p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 12.0pt; line-height: 107%;">Sign Up</span></strong></p>
            <p style="text-align: justify;">Please sign up by clicking &ldquo;Sign Up&rdquo; link at top right hand corner of the home page.</p>
            <p style="text-align: justify;  ">Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This will be your id at this website. Once you enter please remember the username for login.</p>
            <p style="text-align: justify;">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please enter your email id. This will used for communication with you.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;">Please enter the details and click on &ldquo;Create an account &amp; Proceed&rdquo;.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 12.0pt; line-height: 107%;">Register and Subscribe</span></strong></p>
            <p style="text-align: justify;">You can register and subscribe on this page. If you have a promotion code, please enter the code in &ldquo;Promotion Code&rdquo; field and click &ldquo;Apply&rdquo; button. The applicable discount will be applied for you.</p>
            <p style="text-align: justify;">You can choose to register later, however, you will miss out on lot of NextSteps features which save a lot of time and effort. If you don&rsquo;t want to register, please click the &ldquo;Register later and Go to Home Page&rdquo; button.</p>
            <p style="text-align: justify;">To register, please read the terms and conditions by clicking the link and checking the checkbox. Once you check the checkbox, the &ldquo;Proceed to Pay&rdquo; button will be enabled. Click the button once you have checked the details. It will take you to the payment page.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong><span style="font-size: 14.0pt; line-height: 107%;">Common Usage Norms </span></strong></p>
            <p style="text-align: justify;">When a page displays a list of items, you may want to select multiple values. For an example, a list displaying programs/courses where you may be interested in more than one program/course and hence would want to select multiple values. In such cases while on desktop/laptop you can use &lsquo;ctrl + click&rsquo; to select multiple values, and while on mobile devices you would get a popup with checkboxes that will let you select multiple values.</p>
            <p style="text-align: justify;">As you choose values and get your filter criteria ready, you would typically click a &ldquo;Get Xxxxxx&rdquo; button to obtain the result. Depending on the context the &lsquo;Xxxxxx&rdquo; could &ldquo;Institutes&rdquo;, &ldquo;Details&rdquo; etc.</p>
            <p style="text-align: justify;">After you made selections on the pages that lets you search/find, obtain the details, you would click on the &ldquo;Get Xxxxxx&rdquo; button to get the details. The result page would have pagination in case the results span multiple pages.</p>
            <p style="text-align: justify;">The results pages would typically have a couple additional filters to narrow the results further. Please note that if there is a pagination, these filters work only on results on the current page.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">SEARCH Menu</span></strong></p>
            <p style="text-align: justify;">With free or paid access you will be able to use the SEARCH menu. It has following options.</p>
            <p style="text-align: justify;"><strong>Institutes by Location&nbsp;&nbsp;&nbsp;&nbsp; </strong>Search Colleges/Institutes by states and cities.</p>
            <ul>
            <li style="text-align: justify;  ;">There are two tabs, State and City.</li>
            <li style="text-align: justify;  ;">Select the states that you want to search the colleges in. Don&rsquo;t make any selection if you want to use all the states to search.</li>
            <li style="text-align: justify;  ;">Move to City tab by clicking it. It will display the colleges in the state(s) you selected. Select the cities you want to search colleges in. Don&rsquo;t make any selection if you want to use all the cities to search.</li>
            <li style="text-align: justify;  ;">After you are done making the state and city selections, click on the &ldquo;Get Institutes&rdquo; button.</li>
            </ul>
            <p style="text-align: justify;"><strong>Survey Ranking&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Find the ranking of institutes as published by National Institutional Ranking Framework (NIRF).</p>
            <ul>
            <li style="text-align: justify;  ;">To select the year you are interested in click on the toggle stich next to it. The List of institutes with their ranks will be filtered for the selected year.</li>
            <li style="text-align: justify;  ;">Use the slider to select the &lsquo;from&rsquo; and &lsquo;to&rsquo; ranks. The List of institutes with their ranks will be filtered for the ranks between selected to and from ranks.</li>
            </ul>
            <p style="text-align: justify;"><strong>Institutes by Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Search Colleges/Institutes by the type.</p>
            <ul>
            <li style="text-align: justify;  ;">Select the institute type that you want to search the colleges for by clicking on the toggle switch. Don&rsquo;t make any selection if you want to use all the types.</li>
            <li style="text-align: justify;  ;">Click on the &ldquo;Get Institutes&rdquo; button at the bottom to obtain the list of institutes.</li>
            </ul>
            <p style="text-align: justify; ;"><strong>Opening/Closing JEE Ranks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Obtain the opening and closing ranks for various programs and institutes.</p>
            <ul>
            <li style="text-align: justify;  ;">Select the years and the type of institutes that you want to search the ranks for by clicking on the toggle switches. Don&rsquo;t make any selection if you want to use all the values.</li>
            <li style="text-align: justify;  ;">Click on the &ldquo;Get Details&rdquo; button at the bottom to obtain the list of institutes, programs and ranks.</li>
            </ul>
            <p style="text-align: justify;"><strong>Cut off Scores</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Obtain the cut off scores for various institutes and programs</p>
            <ul>
            <li style="text-align: justify;  ;">Select the years that you want to search the cut off scores for by clicking on the toggle switches. Don&rsquo;t make any selection if you want to use all the values.</li>
            <li style="text-align: justify;  ;">Click on the &ldquo;Get Details&rdquo; button at the bottom to obtain the list of institutes, programs and ranks.</li>
            </ul>
            <p style="text-align: justify;"><strong>Programs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Get the list of institutes offering the selected programs.</p>
            <ul>
            <li style="text-align: justify;  ;">Select the programs that you want to search the colleges in. Don&rsquo;t make any selection if you want to use all the programs to search.</li>
            <li style="text-align: justify;  ;">To select multiple values use ctrl + click.</li>
            <li style="text-align: justify;  ;">After you are done making selections, click on the &ldquo;Get Institutes&rdquo; button.</li>
            </ul>
            <p style="text-align: justify;"><strong>Seat Categories and Quotas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>find the seat quotas by student categories.</p>
            <ul>
            <li style="text-align: justify;  ;">Select the student category that you want to find the seats for. Don&rsquo;t make any selection if you want to use all the categories.</li>
            <li style="text-align: justify;  ;">Move to Programs tab by clicking it. It will display the list of Programs. Select the programs that you want to search seats for. Don&rsquo;t make any selection if you want to use all the programs.</li>
            <li style="text-align: justify;  ;">After you are done making the selections, click on the &ldquo;Get Institutes&rdquo; button.</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">PREFERENCES Menu</span></strong></p>
            <p style="text-align: justify;">With registration and active subscription you will be able to use the PREFERENCES menu. It has following options.</p>
            <p style="text-align: justify;"><strong>View/Set My Preferences&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>View and Set the programs, institutes that you want to shortlist/target for admission/have preference for.</p>
            <ul>
            <li style="text-align: justify;  ;">The preferences you set here will be the basis for the details under "MY SPACE" menu</li>
            <li style="text-align: justify;  ;">Please use the ""Set Your Preferences" section to SET the preferences</li>
            </ul>
            <ul>
            <ul>
            <li style="line-height: normal; tab-stops: list ;">Use the "Student Category" tab to select your category. This will be used while generating the reports for you.</li>
            <li style="line-height: normal; tab-stops: list ;">Use the "Programs" tab to select the programs you are interested in</li>
            <li style="line-height: normal; tab-stops: list ;">As you move to "Institutes" tab it will display the Institutes that offer those programs</li>
            <li style="line-height: normal; tab-stops: list ;">Select the Institutes that you want to set as your preference</li>
            <li style="line-height: normal; tab-stops: list ;">Use Control + click to select multiple choices</li>
            <li style="line-height: normal; tab-stops: list ;">After you have made the selections please click the "Set Preferences" button to save the preferences</li>
            </ul>
            <li style="line-height: normal; tab-stops: list;">Your currently saved preferences are shown in "Your Current Preferences" section below</li>
            <ul>
            <li style="line-height: normal; tab-stops: list ;">Click on + or - icon to expand or collapse</li>
            <li style="line-height: normal; tab-stops: list ;">Your currently saved preferences are displayed under respective areas</li>
            </ul>
            </ul>
            <p style="text-align: justify;"><strong>My College Application Details&nbsp;&nbsp; </strong>Save the details you would typically need filling up the application forms for various institutions.</p>
            <ul>
            <li style="text-align: justify;  ;">Use the left side navigation bar to go to respective set of information to save.</li>
            <li style="text-align: justify;  ;">Please note that only name mandatory. You can choose whatever other information you want to save.</li>
            <li style="text-align: justify;  ;">There are sour sets of information &ndash; Name and Personal Details, Address and Contact Details, Education Details, Parents &amp; Guardian, Photo and Signatures</li>
            <li style="text-align: justify;  ;">The images to be uploaded in Photo and Signatures section should be &lt;=50 KB, as most of the institutions won&rsquo;t allow images of size larger than that.</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong><span style="font-size: 14.0pt; line-height: 107%;">MY SPACE Menu</span></strong></p>
            <p style="text-align: justify;">With registration and active subscription you will be able to use the MY SPACE menu. The options under this menu work on the programs and institutes that you have set in your preferences (PREFERENCES Menu -&gt; View/Set My Preferences). It has following options.</p>
            <p style="text-align: justify;"><strong>Institute Details </strong>Clicking on this option displays a list of your preferred institutes and programs along with details of seats and quotas.</p>
            <p style="text-align: justify;"><strong>Important Dates&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Clicking on this option displays the important dates for your preferred institutes. Important dates such as application form start date, close date, entrance exam date, results date, etc.</p>
            <p style="text-align: justify;"><strong>Admission Routes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Clicking on this option displays the various ways that you can explore to get admission in your preferred institutes.</p>
            <p style="text-align: justify;"><strong>Entrance Exam&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Clicking on this option displays the details on the entrance exams for your preferred institutes.</p>
            <p style="text-align: justify;"><strong>Consolidated Report&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Clicking on this option displays all the information discussed so far for your preferred institutes. This information will be in a PDF format that you can print out or save.</p>
            <p style="text-align: justify;"><strong>Calendar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Clicking on this option displays a calendar of all the important dates that you need to be aware for your preferred institutes.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Institute, Program Ranks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>Display the JEE opening &amp; closing ranks for your preferred or selected institutes and programs.</p>
            <ul>
            <li style="text-align: justify;  ;">Select whether you want to use your preferences to display the ranks.</li>
            <li style="text-align: justify;  ;">Select 'Yes' if you would like to use the preferences that you have saved (PREFERENCES Menu -&gt; View/Set My Preferences). JEE ranks will be displayed only for those programs and Institutes.<br /> You can still choose to select programs and institutes within those preferences. Please use 'ctrl + click' to select multiple program, institutes.</li>
            <li style="text-align: justify;  ;">If you choose &lsquo;No&rsquo;, then list of all the programs and institutions will be displayed and there will be an additional selection box.</li>
            <li style="text-align: justify;  ;">In the additional selection box, select 'Yes' if you would like to view all the Programs and Institutes and then select the ones you would like to be find the ranks for. If you select &lsquo;No&rsquo; then all the programs and institutes will be used.</li>
            <li style="text-align: justify;  ;">Select whether you would like to see ranks for JEE MAIN or JEE ADVANCED. The list of programs and institutes will be filtered accordingly.</li>
            <li style="text-align: justify;  ;">After you are done with your selections, click on &ldquo;Get Ranks&rdquo; button at the bottom to obtains opening and closing ranks for your selections.</li>
            </ul>
            <p style="text-align: justify;"><strong>Seat Probability </strong>Display the list of institutes and programs where you have changes to get a seat.</p>
            <ul>
            <li style="text-align: justify;  ;">The first selection is to select whether you want to use your preferences to display the ranks.</li>
            <li style="text-align: justify;  ;">Select 'Yes' if you would like to use the preferences that you have saved (PREFERENCES Menu -&gt; View/Set My Preferences). These Programs and Institutes will be used in Seat Probability analysis. If you select &lsquo;No&rsquo;, then the list of all the programs and institutes will be displayed and an additional selection box &ldquo;Select Programs, Institutes&rdquo; will be displayed.</li>
            <li style="text-align: justify;  ;">The second selection box is to select whether you would like select any programs and institutes from the displayed lists. If you select &lsquo;No&rsquo; then the list of programs and institutes will become removed from the page and all the programs and institute will be used.</li>
            <li style="text-align: justify;  ;">From &lsquo;Get Results By&rdquo; selection box, select whether you want to use JEE MAINS and JEE ADV. If you choose MAINS, then the &lsquo;Home State&rsquo; selection box will be enabled and the programs and institutes will be filtered for MAINS. If you choose ADV, then the &lsquo;Home State&rsquo; selection box will be disabled and the programs and institutes will be filtered for ADV.</li>
            <li style="text-align: justify;  ;">If the program and institutes selection boxes are visible then select programs and institutes that you want to choose for assessing the seat chances.</li>
            <li style="text-align: justify;  ;">Next, enter the JEE expected rank &lsquo;from&rsquo; and &lsquo;to&rsquo; in respective selection boxes.</li>
            <li style="text-align: justify;  ;">Click on the &ldquo;Get Results&rdquo; button in the respective section to obtain of the institutes and programs where you have chances to get a seat.</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
        </div>
     </div>

{% endblock features %}

{% block misson-statement %}
<!-- Nothing here, just override the block from parent -->
{% endblock misson-statement %}

{% block jointhem-blog %}
<!-- Nothing here, just override the block from parent -->
{% endblock jointhem-blog %}

<!-- Footer-section remains as it is, no override -->

